@import "colors.scss";

div.admonition-wrapper {
    border-radius: 4px;

    display: table;

    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
}

div.admonition-wrapper:before {
    display: table-cell;

    color: $admon-side-fg-color;

    font-family: Entypo;
    font-weight: normal;
    font-size: 48px;

    line-height: 20px;

    width: 28px;

    padding: 10px;

    border-radius: 4px 0 0 4px;

    text-align: center;
    vertical-align: middle;
}

div.admonition-wrapper .admonition {
    display: table-cell;
    padding: 10px;
}

div.admonition-wrapper.tip {
    box-shadow: inset 0 0 0 1px $admon-side-bg-color-tip;
    background: $admon-bg-color-tip;
}

div.admonition-wrapper.tip:before {
    background-color: $admon-side-bg-color-tip;
    content: "\1F393";
}

div.admonition-wrapper.note {
    box-shadow: inset 0 0 0 1px $admon-side-bg-color-note;
    background: $admon-bg-color-note;
}

div.admonition-wrapper.note:before {
    background-color: $admon-side-bg-color-note;
    content: "\270E";
}

div.admonition-wrapper.caution {
    box-shadow: inset 0 0 0 1px $admon-side-bg-color-caution;
    background: $admon-bg-color-caution;
}

div.admonition-wrapper.caution:before {
    background-color: $admon-side-bg-color-caution;
    content: "\26A0";
}

div.admonition-wrapper .admonition:before {
    font-weight: bold;
    font-size: 90%;
    padding-right: 5px;
}

div.admonition-wrapper.tip .admonition:before {
    content: "TIP: ";
}

div.admonition-wrapper.note .admonition:before {
    content: "NOTE: ";
}

div.admonition-wrapper.caution .admonition:before {
    content: "CAUTION: ";
}

div.admonition-wrapper.todo .admonition:before {
    content: "WORK IN PROGRESS: ";
}
