div.admonition-wrapper {
    display: table;

    width: 100%;
    padding: 0;
}

div.admonition-wrapper:before {
    display: table-cell;

    font-family: Entypo;
    font-weight: normal;

    text-align: center;
    vertical-align: middle;
}

div.admonition-wrapper .admonition {
    display: table-cell;
}

div.admonition-wrapper.tip:before {
    content: "\1F4A1";
}

div.admonition-wrapper.note:before {
    content: "\2139";
}

div.admonition-wrapper.caution:before {
    content: "\26A1";
}
