@use "/assets/style/_colors.scss";

body {
  @include colors.page-bg-color;
}

mark {
  @include colors.mark-fg-color;
  @include colors.mark-bg-color;
}

pre {
  @include colors.pre-box-shadow;
  @include colors.pre-bg-color;
}

/* LINKS */

a:link,
a:visited {
  @include colors.link-color;
}

a:hover {
  @include colors.link-hover-fg-color;
  @include colors.link-hover-bg-color;
}
