pre

  .log-create
    font-weight: bold
    color: #4a0

  .log-update
    font-weight: bold
    color: #cb0

  .comment
    color: #666666

  .key
    color: #6a0

  .string, .value
    color: #772
    background: #ffc

  .constant, .class, .symbol
    color: #c60

  .function
    color: #e21

  .instance-variable, .local_variable
    color: #6a0

  .reserved, .predefined, .predefined-constant
    color: #09c

  .tag, .keyword
    color: #8c5

  .integer, .attribute_name
    color: #a50

  .m
    padding: 0 0.1em
    background: #555
    color: #fff
