// Core colors
$color-orange:                #ed3400;
$color-white:                 #fff;
$color-black:                 #000;
$color-blue:                  #0e65c2;

// Derived colors
$color-orange-light:          mix($color-orange, $color-white, 70%);
$color-offwhite:              desaturate(mix($color-orange-light, $color-white, 10%), 70%);
$color-offwhite-light:        mix($color-offwhite, $color-white, 40%);
$color-offwhite-dark:         desaturate(mix($color-blue, $color-white, 20%), 10%);
$color-offwhite-orange:       mix($color-orange, $color-white, 5%);
$color-offwhite-blue:         mix($color-blue, $color-white, 5%);
$color-gray:                  desaturate($color-blue, 60%);
$color-green:                 adjust-hue($color-blue, -120%);
$color-dark-20:               mix($color-offwhite, $color-black, 100%-5%);
$color-dark-40:               mix($color-offwhite, $color-black, 100%-15%);
$color-dark-60:               mix($color-offwhite, $color-black, 100%-40%);
$color-dark-80:               mix($color-offwhite, $color-black, 100%-70%);
$color-dark-95:               mix($color-offwhite, $color-black, 100%-95%);

// Text
$text-color:                  $color-dark-80;
$text-color-emph:             $color-black;

// Explanation
$explanation-bg-color:        $color-white;
$explanation-fg-color:        $color-orange;

// Intro
$intro-bg-color:              $color-offwhite;
$intro-fg-color:              $color-orange;
$intro-link-fg-color:         $color-dark-40;
$intro-link-fg-color-hover:   $color-dark-95;
$intro-deco-fg-color:         $color-dark-40;

// Admonitions
$admon-side-fg-color:         $color-white;
$admon-side-bg-color-tip:     $color-blue;
$admon-side-bg-color-note:    $color-blue;
$admon-side-bg-color-caution: $color-orange;
$admon-side-bg-color-todo:    $color-dark-60;
$admon-bg-color-tip:          mix($admon-side-bg-color-tip, $color-offwhite-light, 7%);
$admon-bg-color-note:         mix($admon-side-bg-color-note, $color-offwhite-light, 7%);
$admon-bg-color-caution:      mix($admon-side-bg-color-caution, $color-offwhite-light, 7%);
$admon-bg-color-todo:         mix($admon-side-bg-color-todo, $color-offwhite-light, 7%);

// Footer
$footer-bg-color:             $color-offwhite;
$footer-fg-color:             $color-dark-60;
$footer-border-color:         $color-dark-40;
$footer-light-border-color:   $color-dark-20;
$footer-link-color:           $color-dark-95;
$footer-link-hover-fg-color:  $color-dark-95;
$footer-link-hover-bg-color:  $color-offwhite;
$footer-heart-color:          $color-orange;

// Links
$link-color:                  $color-blue;
$link-color-hover:            $color-white;
$link-disabled:               $color-dark-60;

// Code
$pre-border-color:            rgba(0, 0, 0, 0.5);
$pre-shadow-color:            rgba(0, 0, 0, 0.3);
$code-prompt-color:           rgba(0, 0, 0, 0.5);

// Hero
$hero-bg-color:               $color-offwhite-dark;

// Search
$search-bg-color:                   $color-white;
$search-fg-color:                   $color-dark-60;
$search-border-color:               $color-offwhite-dark;
$search-placeholder-bg-color:       $color-white;
$search-placeholder-fg-color:       $color-gray;
$search-placeholder-border-color:   $color-white;
$search-results-l0-fg-color:        $color-orange;
$search-results-l1-fg-color:        $color-black;
$search-results-higlight-fg-color:  $color-orange;
$search-results-higlight-bg-color:  $color-offwhite-orange;
$search-results-selection-bg-color: $color-offwhite-orange;

// Body
$page-bg-color:               $color-white;
$page-top-border-color:       $color-orange-light;

// Mark
$mark-bg-color:               #ffffcc;

// Tags
$tag-legacy-bg-color:         $color-dark-60;
$tag-legacy-fg-color:         $color-white;
$tag-legacy-intermediate-bg-color: mix($color-dark-60, $color-blue, 70%);
$tag-legacy-intermediate-fg-color: $color-white;
$tag-wip-bg-color:            $color-dark-60;
$tag-wip-fg-color:            $color-white;
$tag-new-bg-color:            $color-blue;
$tag-new-fg-color:            $color-white;
$tag-errors-bg-color:         $color-orange;
$tag-errors-fg-color:         $color-white;

// Figures
$figure-bg-color:             $color-white;
$figure-border-color:         $color-dark-20;
$figure-caption-bg-color:     $color-dark-20;

// Sidebar
$sidebar-bg-color:            $color-offwhite;

// Typography
$header-color:                $color-orange;
$dt-color:                    $color-black;
