// Core colors
$color-orange:                hsl(20, 100, 46);
$color-bg:                    #fff;
$color-fg:                    #000;
$color-shadow:                #000;
$color-blue:                  hsl(211, 87, 41);
$color-mark:                  hsl(60, 100, 90);

// Derived colors
$color-orange-quiet:          mix($color-orange, $color-bg, 10%);
$color-blue-quiet:            desaturate(mix($color-blue, $color-bg, 15%), 10%);
$color-blue-desat:            mix(desaturate($color-blue, 60%), $color-bg, 85%);
$color-bg-muted:              desaturate(mix($color-orange, $color-bg, 8%), 60%);
$color-fg-40:                 mix($color-fg, $color-bg-muted, 15%);
$color-fg-60:                 mix($color-fg, $color-bg-muted, 40%);
$color-fg-80:                 mix($color-fg, $color-bg-muted, 70%);
$color-fg-95:                 mix($color-fg, $color-bg-muted, 95%);

// Swatches
.swatch-orange          { background: $color-orange; }
.swatch-bg              { background: $color-bg; }
.swatch-fg              { background: $color-fg; }
.swatch-shadow          { background: $color-shadow; }
.swatch-blue            { background: $color-blue; }
.swatch-mark            { background: $color-mark; }
.swatch-orange-quiet    { background: $color-orange-quiet; }
.swatch-blue-quiet      { background: $color-blue-quiet; }
.swatch-blue-desat      { background: $color-blue-desat; }
.swatch-bg-muted        { background: $color-bg-muted; }
.swatch-fg-40           { background: $color-fg-40; }
.swatch-fg-60           { background: $color-fg-60; }
.swatch-fg-80           { background: $color-fg-80; }
.swatch-fg-95           { background: $color-fg-95; }

// Text
$text-color:                  $color-fg-80;
$text-emph-color:             $color-fg;

// Navigation
$nav-bg-color:                $color-orange-quiet;
$nav-border-color:            $color-orange;
$nav-border-hover-color:      $color-fg-80;
$nav-item-active-color:       $color-fg;
$nav-item-hover-color:        $color-fg;
$nav-link-color:              $color-fg-60;

// Explanation
$explanation-bg-color:        $color-bg;
$explanation-fg-color:        $color-orange;

// Intro
$intro-bg-color:              $color-bg-muted;
$intro-fg-color:              $color-orange;
$intro-link-fg-color:         $color-fg-40;
$intro-deco-fg-color:         $color-fg-40;

// Admonitions
$admon-bg-color:              $color-bg-muted;
$admon-fg-tip-color:          $color-blue;
$admon-fg-note-color:         $color-blue;
$admon-fg-caution-color:      $color-orange;
$admon-fg-todo-color:         $color-fg-60;
$admon-bg-tip-color:          $color-blue-quiet;
$admon-bg-note-color:         $color-blue-quiet;
$admon-bg-caution-color:      $color-orange-quiet;
$admon-bg-todo-color:         $color-bg-muted;

  // Footer
$footer-bg-color:             $color-bg-muted;
$footer-fg-color:             $color-fg-60;
$footer-border-color:         $color-fg-40;
$footer-link-color:           $color-fg-95;
$footer-link-hover-fg-color:  $color-fg-95;
$footer-link-hover-bg-color:  $color-bg-muted;
$footer-heart-color:          $color-orange;

// Links
$link-color:                  $color-blue;
$link-hover-color:            $color-bg;

// Code
$pre-bg-color:                $color-bg-muted;
$pre-shadow-color:            transparentize($color-shadow, 0.7);
$code-prompt-color:           transparentize($color-fg, 0.5);

// Hero
$hero-bg-color:               $color-blue-quiet;
$hero-link-bg-color:          transparentize($color-bg, 0.6);

// Search
$search-bg-color:                   $color-bg;
$search-fg-color:                   $color-fg-60;
$search-border-color:               $color-blue-quiet;
$search-placeholder-bg-color:       $color-bg;
$search-placeholder-border-color:   $color-bg;
$search-results-l0-fg-color:        $color-orange;
$search-results-l1-fg-color:        $color-fg;
$search-results-higlight-fg-color:  $color-orange;
$search-results-higlight-bg-color:  $color-orange-quiet;
$search-results-selection-bg-color: $color-orange-quiet;

// Body
$page-bg-color:               $color-bg;
$page-top-border-color:       $color-orange;

// Mark
$mark-bg-color:               $color-mark;

// Tags
$tag-legacy-bg-color:              $color-fg-60;
$tag-legacy-fg-color:              $color-bg;
$tag-legacy-intermediate-bg-color: $color-blue-desat;
$tag-legacy-intermediate-fg-color: $color-bg;
$tag-new-bg-color:                 $color-blue;
$tag-new-fg-color:                 $color-bg;
$tag-errors-bg-color:              $color-orange;
$tag-errors-fg-color:              $color-bg;

// Figures
$figure-bg-color:             $color-bg;
$figure-border-color:         $color-bg-muted;
$figure-caption-bg-color:     $color-bg-muted;

// Sidebar
$sidebar-bg-color:            $color-bg-muted;
$sidebar-section-title-color: $color-orange;

// Typography
$header-color:                $color-orange;
$dt-color:                    $color-fg;
