// Reusable colors
$emph-color:            saturate(rgb(210, 67, 27), 40%);
$lighter-emph-color:    tint($emph-color, 30%);

// Intro
$intro-bg-color:        $lighter-emph-color;
$intro-fg-color:        #fff;

// background
$bg-color:              tint(#f1f0eb, 40%);
$hero-bg-color:         adjust-hue(saturate(shade($bg-color, 15%), 15%), -30%);
$top-bg-color:          shade($bg-color, 70%);
$footer-bg-color:       $top-bg-color;
$footer-border-color:   shade($bg-color, 50%);
$nav-bg-color:          shade($top-bg-color, 60%);
$search-bg-color:       shade($top-bg-color, 30%);
$nav-spacing-color:     $top-bg-color;
$explanation-bg-color:  $lighter-emph-color;
$ticker-bg-color:       shade($bg-color, 70%);
$chooser-unit-bg-color: $lighter-emph-color;
$tr-odd-color:          shade($bg-color, 5%);
$sidebar-bg-color:      rgba(255, 255, 255, 0.8);

// foreground
$tagline-color:         tint($top-bg-color, 40%);
// $active-bar-color:      rgb(210, 67, 27);
$active-bar-color:      $emph-color;
$dark-fg-color:         $search-bg-color;
$light-fg-color:        #ddd6d4;
$emph-light-fg-color:   #fff;
$chooser-unit-fg-color: #fff;
$link-color-a:          saturate(#2366ad, 20%);
$link-color-b:          #fff;
$footer-link-color-a:   $light-fg-color;
$footer-link-color-b:   shade($footer-bg-color, 40%);
$explanation-fg-color:  #fff;
$ticker-fg-color:       shade($light-fg-color, 30%);
$hr-color:              mix($bg-color, $emph-color, 50%);
$footer-fg-color:       shade($light-fg-color, 40%);
$admon-color-tip:       adjust-hue($link-color-a, 240deg);
$admon-color-note:      $link-color-a;
$admon-color-caution:   $emph-color;
$admon-color-done:      adjust-hue($link-color-a, -120%);

$border-color:          shade($bg-color, 5%);
$emph-bg-color:         tint($bg-color, 60%);



@mixin dark-background-links {
    a:link, a:visited {
        color: #ddd6d4;
    }

    a:hover {
        color: #fff;
    }

    a:link, a:visited {
        color: $footer-link-color-a;
    }

    a:hover {
        background-color: $footer-link-color-a;
        color:            $footer-link-color-b;
    }
}

body {
    background: $bg-color;
}

article {
    a:link, a:visited {
        color: $link-color-a;
    }

    a:hover {
        background-color: $link-color-a;
        color:            $link-color-b;
    }
}

h1, h2, h3, h4, h5, h6, dt,
body.home header .title {
    color: $emph-color;

    .tagline {
        color: $tagline-color;
    }
}

figure {
    background: #fff;

    img {
        border-color: rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    figcaption {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

pre {
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: $emph-bg-color;
}

div.admonition-wrapper {
    box-shadow: inset 0 0 0 1px $border-color;

    background: $emph-bg-color;
}

div.admonition-wrapper:before {
    color: #fff;
}

div.admonition-wrapper.tip {
    box-shadow: inset 0 0 0 1px $link-color-a;
}

div.admonition-wrapper.tip:before {
    background-color: $link-color-a;
}

div.admonition-wrapper.note {
    box-shadow: inset 0 0 0 1px $link-color-a;
}

div.admonition-wrapper.note:before {
    background-color: $link-color-a;
}

div.admonition-wrapper.caution {
    box-shadow: inset 0 0 0 1px $emph-color;
}

div.admonition-wrapper.caution:before {
    background-color: $emph-color;
}

div.admonition-wrapper.done {
    box-shadow: inset 0 0 0 1px $admon-color-done;
}

div.admonition-wrapper.done:before {
    background-color: $admon-color-done;
}

div.admonition-wrapper.todo {
    box-shadow: inset 0 0 0 1px desaturate($emph-color, 75%);
}

div.admonition-wrapper.todo:before {
    background-color: desaturate($emph-color, 75%);
}

body header {
    background: $top-bg-color;

    .header-content {
        background: $nav-bg-color;

        nav {
            li {
                border-color: $nav-spacing-color;
            }

            a:link, a:visited {
                color: $light-fg-color;
            }

            a:hover {
                color: $emph-light-fg-color;
            }

            li.active > span {
                color: $emph-light-fg-color;
            }

            @media (min-width: 720px) {
                li.active > span,
                li.active > a {
                    border-top: 3px solid $active-bar-color;
                }
            }

            @media (max-width: 719px) {
                li.active:nth-child(even) {
                    border-left: 3px solid $active-bar-color;
                }

                li.active:nth-child(odd) {
                    border-right: 3px solid $active-bar-color;
                }
            }

            .for-nanoc-4-beta {
                span {
                    color: $light-fg-color;
                    background: #000;
                }
            }
        }
    }
}

body.page {
    .intro {
        background: $intro-bg-color;

        h1 {
            color: $intro-fg-color;
        }
    }

    .details {
        background: $sidebar-bg-color;
    }

    tr.odd td {
        background: $tr-odd-color;
    }
}

body.home {
    .explanation {
        background: $explanation-bg-color;
        color: $explanation-fg-color;
    }

    .hero {
        background-color: $hero-bg-color;

        .caption {
            background: shade($bg-color, 5%);

            p {
                color: $dark-fg-color;
            }
        }
    }

    .ticker {
        background: $ticker-bg-color;
        color: $ticker-fg-color;

        @include dark-background-links;
    }

    .announcement span {
        background-color: $explanation-bg-color;
        color: $explanation-fg-color;

        a:link, a:visited {
            color: tint($explanation-fg-color, 50%);
        }

        a:hover {
            background-color: tint($explanation-bg-color, 30%);
            color: tint($explanation-fg-color, 100%);
        }
    }

    .chooser {
        h2 {
            color: rgb(37, 110, 219);
        }

        .chooser-unit:before {
            border-color: $bg-color;
            background-color: $chooser-unit-bg-color;
        }
    }

    .support {
        border-color: $hr-color;

        .support-content {
            h3:before {
                border-color: $chooser-unit-bg-color;
            }

            h3 {
                color: $emph-color;
            }
        }
    }
}

footer {
    background: #554f4b url(/assets/images/background-dark.png);

    @include dark-background-links;

    .links {
        div, li:before {
            color: $footer-fg-color;
        }
    }

    .copyright {
        border-color: $footer-border-color;
        color: $footer-fg-color;
    }
}
