@use "sass:color";
// Core colors

$color-orange:                hsl(20, 100%, 46%);
$color-bg:                    #fff;
$color-fg:                    #000;
$color-shadow:                #000;
$color-blue:                  hsl(211, 87%, 41%);
$color-mark:                  hsl(60, 100%, 90%);

$color-darkmode-orange:       hsl(8, 90%, 60%);
$color-darkmode-bg:           hsl(210, 15%, 18%);
$color-darkmode-fg:           #fff;
$color-darkmode-shadow:       #000;
$color-darkmode-blue:         hsl(211, 87%, 65%);
$color-darkmode-mark:         hsl(0, 0%, 0%);

:root {
    --color-orange:                #{$color-orange};
    --color-bg:                    #{$color-bg};
    --color-fg:                    #{$color-fg};
    --color-shadow:                #{$color-shadow};
    --color-blue:                  #{$color-blue};
    --color-mark:                  #{$color-mark};

    --color-darkmode-orange:       #{$color-darkmode-orange};
    --color-darkmode-bg:           #{$color-darkmode-bg};
    --color-darkmode-fg:           #{$color-darkmode-fg};
    --color-darkmode-shadow:       #{$color-darkmode-shadow};
    --color-darkmode-blue:         #{$color-darkmode-blue};
    --color-darkmode-mark:         #{$color-darkmode-mark};
}

// Derived colors

$color-orange-quiet:          color.mix($color-orange, $color-bg, 10%);
$color-nav-shadow:            rgba(0, 0, 0, 0.2);

$color-darkmode-orange-quiet: color.mix($color-darkmode-orange, $color-darkmode-bg, 10%);
$color-darkmode-nav-shadow:   rgba(0, 0, 0, 0.4);

:root {
    --color-orange-quiet:           #{$color-orange-quiet};
    --color-nav-shadow:             #{$color-nav-shadow};

    --color-darkmode-orange-quiet:  #{$color-darkmode-orange-quiet};
    --color-darkmode-nav-shadow:    #{$color-darkmode-nav-shadow};
}

// Derived colors -- blues

$color-blue-hint:             color.mix($color-blue, $color-bg, 8%);
$color-blue-quiet:            color.adjust(color.mix($color-blue, $color-bg, 15%), $saturation: -10%);

$color-darkmode-blue-hint:    color.adjust(color.mix($color-darkmode-blue, $color-darkmode-bg, 8%), $saturation: -5%);
$color-darkmode-blue-quiet:   color.adjust(color.mix($color-darkmode-blue, $color-darkmode-bg, 15%), $saturation: -10%);

:root {
    --color-blue-hint:            #{$color-blue-hint};
    --color-blue-quiet:           #{$color-blue-quiet};
    --color-darkmode-blue-hint:   #{$color-darkmode-blue-hint};
    --color-darkmode-blue-quiet:  #{$color-darkmode-blue-quiet};
}

// Derived colors -- grays

$color-gray-100:                 color.mix($color-fg, $color-bg, 5%);
$color-gray-300:                 color.mix($color-fg, $color-gray-100, 15%);
$color-gray-500:                 color.mix($color-fg, $color-gray-100, 40%);
$color-gray-700:                 color.mix($color-fg, $color-gray-100, 70%);
$color-gray-900:                 color.mix($color-fg, $color-gray-100, 95%);

$color-darkmode-gray-100:        color.adjust(color.mix($color-darkmode-fg, $color-darkmode-bg, 5%), $saturation: 2%);
$color-darkmode-gray-300:        color.mix($color-darkmode-fg, $color-darkmode-gray-100, 15%);
$color-darkmode-gray-500:        color.mix($color-darkmode-fg, $color-darkmode-gray-100, 40%);
$color-darkmode-gray-700:        color.mix($color-darkmode-fg, $color-darkmode-gray-100, 70%);
$color-darkmode-gray-900:        color.mix($color-darkmode-fg, $color-darkmode-gray-100, 95%);

:root {
    --color-gray-100:             #{$color-gray-100};
    --color-gray-300:             #{$color-gray-300};
    --color-gray-500:             #{$color-gray-500};
    --color-gray-700:             #{$color-gray-700};
    --color-gray-900:             #{$color-gray-900};
    --color-darkmode-gray-100:    #{$color-darkmode-gray-100};
    --color-darkmode-gray-300:    #{$color-darkmode-gray-300};
    --color-darkmode-gray-500:    #{$color-darkmode-gray-500};
    --color-darkmode-gray-700:    #{$color-darkmode-gray-700};
    --color-darkmode-gray-900:    #{$color-darkmode-gray-900};
}

// Body

@mixin page-bg-color {
  background: $color-blue-hint;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue-hint;
  }
}

@mixin page-top-border-color {
  border-color: $color-orange;

  @media (prefers-color-scheme: dark) {
    border-color: $color-darkmode-orange;
  }
}

.article-content {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

// Text

@mixin text-color {
  color: $color-gray-700;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-gray-700;
  }
}

@mixin text-emph-color {
  color: $color-fg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-fg;
  }
}

// Navigation

@mixin nav-bg-color {
  background: $color-blue-hint;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue-hint;
  }
}

@mixin nav-shadow-color {
  box-shadow: 0 3px 5px $color-nav-shadow;

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 3px 5px $color-darkmode-nav-shadow;
  }
}

@mixin nav-item-active-color {
  color: $color-fg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-fg;
  }
}

@mixin nav-item-hover-color {
  color: $color-fg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-fg;
  }
}

@mixin nav-link-color {
  color: $color-gray-500;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-gray-500;
  }
}

@mixin nav-border-color {
  border-color: $color-orange;

  @media (prefers-color-scheme: dark) {
    border-color: $color-darkmode-orange;
  }
}

// Explanation

@mixin explanation-bg-color {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

@mixin explanation-fg-color {
  color: $color-orange;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-orange;
  }
}

// Admonitions

@mixin admon-bg-color {
  background: $color-gray-100;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-gray-100;
  }
}

@mixin admon-fg-tip-color {
  color: $color-blue;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-blue;
  }
}

@mixin admon-fg-note-color {
  color: $color-blue;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-blue;
  }
}

@mixin admon-fg-caution-color {
  color: $color-orange;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-orange;
  }
}

@mixin admon-fg-todo-color {
  color: $color-gray-500;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-gray-500;
  }
}

@mixin admon-bg-tip-color {
  background: $color-blue-quiet;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue-quiet;
  }
}

@mixin admon-bg-note-color {
  background: $color-blue-quiet;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue-quiet;
  }
}

@mixin admon-bg-caution-color {
  background: $color-orange-quiet;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-orange-quiet;
  }
}

@mixin admon-bg-todo-color {
  background: $color-gray-100;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-gray-100;
  }
}

// Footer

@mixin footer-bg-color {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

@mixin footer-fg-color {
  color: $color-gray-500;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-gray-500;
  }
}

@mixin footer-link-color {
  color: $color-gray-900;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-gray-900;
  }
}

@mixin footer-link-hover-bg-color {
  background: $color-gray-900;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-gray-900;
  }
}

@mixin footer-link-hover-fg-color {
  color: $color-bg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-bg;
  }
}

@mixin footer-heart-color {
  color: $color-orange;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-orange;
  }
}

// Links

@mixin link-color {
  color: $color-blue;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-blue;
  }
}

@mixin link-hover-fg-color {
  color: $color-bg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-bg;
  }
}

@mixin link-hover-bg-color {
  background: $color-blue;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue;
  }
}

// Code

@mixin pre-bg-color {
  background: $color-gray-100;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-gray-100;
  }
}

@mixin code-prompt-color {
  color: color.adjust($color-fg, $alpha: -0.5);

  @media (prefers-color-scheme: dark) {
    color: color.adjust($color-darkmode-fg, $alpha: -0.5);
  }
}

@mixin pre-box-shadow {
  box-shadow: 0 1px 1px color.adjust($color-shadow, $alpha: -0.7);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 1px 1px color.adjust($color-darkmode-shadow, $alpha: -0.7);
  }
}

// Hero

@mixin hero-bg-color {
  background: $color-blue-quiet url(/assets/images/symphony.png);

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue-quiet url(/assets/images/symphony-dark.png);
  }
}

@mixin hero-link-bg-color {
  background: color.adjust($color-bg, $alpha: -0.6);

  @media (prefers-color-scheme: dark) {
    background: color.adjust($color-darkmode-bg, $alpha: -0.6);
  }
}

@mixin hero-link-hover-fg-color {
  color: $color-blue;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-blue;
  }
}

@mixin hero-link-hover-bg-color {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

// Search

@mixin search-bg-color {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

@mixin search-fg-color {
  color: $color-gray-500;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-gray-500;
  }
}

@mixin search-border-color {
  border-color: $color-blue-quiet;

  @media (prefers-color-scheme: dark) {
    border-color: $color-darkmode-blue-quiet;
  }
}

@mixin search-placeholder-bg-color {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

@mixin search-placeholder-border-color {
  border-color: $color-bg;

  @media (prefers-color-scheme: dark) {
    border-color:  $color-darkmode-bg;
  }
}

@mixin search-results-l0-fg-color {
  color: $color-orange;
}

@mixin search-results-l1-fg-color {
  color: $color-fg;
}

@mixin search-results-higlight-fg-color {
  color: $color-orange;
}

@mixin search-results-higlight-bg-color {
  background: $color-orange-quiet;
}

@mixin search-results-selection-bg-color {
  background: $color-orange-quiet;
}

// Mark

@mixin mark-fg-color {
  color: $color-fg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-fg;
  }
}

@mixin mark-bg-color {
  background: $color-mark;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-mark;
  }
}

// Tags

@mixin tag-legacy-bg-color {
  background: $color-gray-500;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-gray-500;
  }
}

@mixin tag-legacy-fg-color {
  color: $color-bg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-bg;
  }
}

@mixin tag-new-bg-color {
  background: $color-blue;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-blue;
  }
}

@mixin tag-new-fg-color {
  color: $color-bg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-bg;
  }
}

@mixin tag-errors-bg-color {
  background: $color-orange;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-orange;
  }
}

@mixin tag-errors-fg-color {
  color: $color-bg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-bg;
  }
}

// Figures

@mixin figure-bg-color {
  background: $color-bg;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-bg;
  }
}

@mixin figure-border-color {
  border-color: $color-gray-100;

  @media (prefers-color-scheme: dark) {
    border-color: $color-darkmode-gray-100;
  }
}

@mixin figure-caption-bg-color {
  background: $color-gray-100;

  @media (prefers-color-scheme: dark) {
    background: $color-darkmode-gray-100;
  }
}

// Sidebar

@mixin sidebar-section-title-color {
  color: $color-orange;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-orange;
  }
}

// Typography

@mixin header-color {
  color: $color-orange;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-orange;
  }
}

@mixin dt-color {
  color: $color-fg;

  @media (prefers-color-scheme: dark) {
    color: $color-darkmode-fg;
  }
}
