@import "colors.scss";

figure {
    background: $figure-bg-color;
    border: 1px solid $figure-caption-bg-color;

    margin: 0 0 20px 0;

    img {
        display: block;

        width: 100%;
    }

    figcaption {
        padding: 5px 10px;

        background: $figure-caption-bg-color;

        display: block;

        font-size: 13px;
        font-style: italic;
    }
}

figure.compact {
  img {
    margin: 0 auto;

    width: 300px;
    height: auto;
  }
}
