@use "/assets/style/_colors.scss";

.home footer {
  @include colors.footer-bg-color;
}

footer {
  p {
    @include colors.footer-fg-color;
  }

  a {
    :link, :visited {
      @include colors.footer-link-color;
    }

    :hover {
      @include colors.footer-link-hover-bg-color;
      @include colors.footer-link-hover-fg-color;
    }
  }
}


.footer-releasenotes {
  @include colors.footer-fg-color;
}

.footer-links-explanation {
  @include colors.footer-fg-color;
}

.footer-links {
  strong {
    @include colors.footer-heart-color;
  }

  li:after {
    @include colors.footer-fg-color;
  }
}

.footer-copyright {
  @include colors.footer-fg-color;
}
