.nws-header {
  border-top: 6px solid $page-top-border-color;

  background: $intro-bg-color;

  @media (min-width: 720px) {
    position: fixed;
  }

  width: 100%;

  z-index: 100;
}

.nws-header__content {
  box-sizing: border-box;

  display: flex;

  @media (min-width: 720px) {
    max-width: 1020px;
    padding: 20px 40px;
    margin: 0 auto;
  }

  @media (max-width: 719px) {
    padding: 20px 10px;
  }
}

.nws-header__logolink {
  display: block;

  order: 3;

  flex: 0 0 auto;

  width: 40px;
  height: 40px;

  background: url(/assets/images/logo-small.png) left center no-repeat;
  background-size: 40px 40px;
  background-position: center;

  margin: -10px 10px -10px 290px;
  padding: 10px;

  @media (max-width: 719px) {
    margin: -10px auto;
  }

  margin-left: auto;
}

.nws-header__logolink:hover {
  background: url(/assets/images/logo-small.png) left center no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

.nws-header__logotext {
  display: none;
}

.nws-header__search {
  @media (max-width: 719px) {
    display: none;
  }

  flex: 0 0 260px;
}

.nws-header a.back {
  :link, :visited {
    background: none;
    color: $intro-link-fg-color;
  }

  :hover {
    background: none;
    color: $intro-link-fg-color-hover;
  }
}

.nws-header__search {
  padding-top: 5px;

  > span {
    width: 100%;
  }

  input {
    width: 100%;
    height: 30px;

    color: #555;

    font-family: "Source Sans Pro";
    font-size: 16px;

    background: #fff;
    border: none;
    border-radius: 15px;

    padding: 5px 18px;
    border: 2px solid $search-placeholder-border-color;
  }

  input:focus {
    outline: none;
    border: 2px solid $search-border-color;
  }

  input::-webkit-input-placeholder { color: #bbb; }
  input:-moz-placeholder           { color: #bbb; opacity: 1; }
  input::-moz-placeholder          { color: #bbb; opacity: 1; }
  input:-ms-input-placeholder      { color: #bbb; }
}

#search-box {
  .algolia-docsearch-suggestion--category-header {
    color: $search-results-l0-fg-color;
  }

  .algolia-docsearch-suggestion--title {
    color: $search-results-l1-fg-color;
  }

  .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
  .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    color: $search-results-higlight-fg-color;
    background-color: $search-results-higlight-bg-color;
    box-shadow: none;
  }

  .ds-cursor .algolia-docsearch-suggestion--content {
    background-color: $search-results-selection-bg-color;
  }
}
