@import "susy";

@import "colors.scss";

.hero {
    background: $hero-bg-color url(/assets/images/symphony.png);

    margin-bottom: -60px;

    ul {
        text-align: center;

        padding: 40px 0 20px 0;

        li {
            display: inline;

            margin: 0 20px;
        }

        @media (max-width: 619px) {
            padding: 40px 0 0 0;

            li {
                display: block;
                margin: 0 0 40px 0;
            }
        }

        a {
            padding: 8px 20px;
            font-size: 24px;
            font-style: normal;
        }

        a:link, a:visited {
            background: rgba(255, 255, 255, 0.4);
        }

        a:hover {
            background-color: $link-color-hover;
            color:            $link-color;
        }
    }
}

.hero-content {
    @include container;
    padding-top: 20px;
    height: 460px;

    @media (max-width: 819px) {
        padding-top: 10px;
        height: 400px;
    }

    @media (max-width: 719px) {
        padding-top: 10px;
        height: 350px;
    }

    @media (max-width: 619px) {
        height: 300px;
    }

    @media (max-width: 519px) {
        height: 250px;
    }

    @media (max-width: 419px) {
        height: 200px;
    }

    .slides {
        position: relative;
        top: -10px;

        .slide {
            position: absolute;
            top: 0;
            left: 0;

            a {
                display: block;
                background: none;
            }

            img {
                border: 0;
                display: block;
                width: 100%;
            }
        }
    }
}
