@use "/assets/style/_colors.scss";

.hero {
  @include colors.hero-bg-color;

  margin-bottom: -60px;
}

.hero__links {
  text-align: center;

  padding: 20px 0 5px 0;
  margin: 0;

  display: flex;
  justify-content: center;

  @media (max-width: 719px) {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.hero__link {
  margin: 0 20px;

  @media (max-width: 719px) {
    margin: 5px auto;
  }
}

.hero__link {
  padding: 12px 20px;
  font-size: 24px;
  font-style: normal;
}

.hero__link:link,
.hero__link:visited {
  @include colors.hero-link-bg-color;
}

.hero__link:hover {
  @include colors.hero-link-hover-fg-color;
  @include colors.hero-link-hover-bg-color;
}

.hero__slides {
  position: relative;

  height: 480px;

  @media (max-width: 819px) {
    padding-top: 10px;
    height: 430px;
  }

  @media (max-width: 719px) {
    padding-top: 10px;
    height: 380px;
  }

  @media (max-width: 619px) {
    height: 330px;

    img {
      margin-top: -20px;
    }
  }

  @media (max-width: 519px) {
    height: 280px;
  }

  @media (max-width: 419px) {
    height: 230px;
  }

  top: -10px;
  max-width: 960px;
  margin: 0 auto;
}

.hero__slide {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0 30px;

  transition: opacity 1200ms ease-in-out;

  a {
    display: block;
  }

  a:link,
  a:visited,
  a:hover {
    background: none;
  }

  img {
    border: 0;
    display: block;
    width: 100%;
  }
}
