@import "susy";
@import "compass/css3/border-radius";
@import "compass/css3/transform";

@import "colors.scss";

$total-columns: 12;
$column-width:  60px;
$gutter-width:  20px;
$grid-padding:  0;

@include border-box-sizing;

body {
    border-top: 6px solid $page-top-border-color;
}

body.page {
    .intro {
        background: $intro-bg-color;

        .intro-content {
            @media (min-width: 720px) {
                @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
                    @include container;
                }
            }

            @media (max-width: 719px) {
                padding: 20px;
            }

            padding: 20px 0;

            position: relative;

            .section {
                font-size: 20px;
            }

            h1 {
                font-size: 30px;
                line-height: 40px;
                color: $intro-fg-color;
            }

            p {
                @media (min-width: 720px) {
                    @include span-columns(8, 12);
                }

                font-size: 15px;
                padding-top: 40px;
            }

            a.back {
                :link, :visited {
                    color: $intro-link-fg-color;
                }

                :hover {
                    color: $intro-link-fg-color-hover;
                }
            }

            span.deco {
              margin: 0 8px;
              color: $intro-deco-fg-color;
            }

            @media (max-width: 619px) {
                a.home {
                    display: none;
                }
            }

            a.home {
                position: absolute;
                width: 60px;
                height: 60px;
                right: 40px;
                top: 10px;

                background: url(/assets/images/logo-nav.png) center center no-repeat;

                :hover {
                    background-image: url(/assets/images/logo-nav-hover.png);
                }

                span {
                    display: none;
                }
            }
        }
    }

    .details {
        background: $sidebar-bg-color;
    }
}

body.page .content {
    article {
        @media (min-width: 720px) {
            @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
                @include container;
            }
        }

        @media (max-width: 719px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        padding-top: 0;
        padding-bottom: 40px;

        .article-content {
            padding-top: 40px;

            @media (min-width: 720px) {
                @include span-columns(8, 12);
            }

            ul, ol, pre, p, h2, h3 {
                margin-bottom: 20px;
            }

            ul, ol {
                margin-left: 20px;
            }

            ul li {
                list-style-type: square;
            }

            ol li {
                list-style-type: decimal;
            }

            ol > li > ol,
            ol > li > ul,
            ul > li > ol,
            ul > li > ul {
                margin-bottom: 0;
            }

            ul.spacious li, ol.spacious li {
              margin-bottom: 20px;
            }

            ul.spacious li pre, ol.spacious li pre {
              margin-top: 20px;
            }

            ol.toc {
                margin-left: 0;
            }

            ol.toc ol {
                margin-left: 18px;
            }

            ol.toc, ol.toc ol {
                counter-reset: section;
            }

            ol.toc li {
                list-style-type: none;
                counter-increment: section;
            }

            ol.toc.big {
                font-weight: bold;
            }

            ol.toc.big ol {
                font-weight: normal;
            }

            ol.toc li:before {
                content: counters(section, ".");
                margin-right: 5px
            }

            .section {
                margin-bottom: 40px;
            }

            h2 {
                font-size: 24px;
                font-weight: normal;
            }

            * + h2 {
                margin-top: 40px;
            }

            h3 {
                font-size: 18px;
                font-weight: normal;

                margin-top: 40px;
            }

            .donate {
                text-align: center;
                padding: 20px 0;

                a, a:hover {
                    background: none;
                }
            }
        }

        .side {
            @media (min-width: 720px) {
                @include span-columns(4 omega, 12);
            }

            @media (max-width: 719px) {
                margin: 40px 0 0 0;
            }

            .details {
                padding: 20px;
                margin: 20px 0 20px 0;

                h3 {
                    display: none;
                }

                h4 + ul {
                    margin-top: 0;
                }

                h3 + h4,
                h3 + ul,
                h3 + ol {
                    margin-top: 0;
                }

                h4, dt, ol, ul, p {
                    margin-top: 20px;

                    @media (max-width: 719px) {
                        margin-top: 0;
                    }
                }

                @media (max-width: 719px) {
                    p + ol.toc,
                    h4 + ol.toc,
                    ul + h4 {
                        margin-top: 20px;
                    }
                }

                ul {
                    margin-left: 0;
                }

                ul li {
                    list-style-type: none;
                }

                ul li span.active {
                  font-weight: bold;
                }

                ul > li > ol.toc {
                  margin-top: 0;
                  margin-left: 20px;
                }
            }
        }

        .side.no-details {
            @media (min-width: 720px) {
                top: 20px;
            }
        }
    }
}

body.home {
    .explanation {
        background: $explanation-bg-color;
        color: $explanation-fg-color;
    }
}

body.home .explanation {
    .explanation-content {
        @include container;

        p {
            padding: 40px 20px;

            font-size: 32px;
            line-height: 40px;
            text-align: center;

            @media (max-width: 719px) {
                padding: 20px;

                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

footer {
    background: $footer-bg-color;

    p {
        color: $footer-fg-color;
    }

    a {
        padding: 0 2px;
        margin: 0;

        :link, :visited {
            color: $footer-link-color;
        }

        :hover {
            background-color: $footer-link-hover-fg-color;
            color:            $footer-link-hover-bg-color;
        }
    }

    padding: 0 0 40px 0;
    margin: 60px 0 -40px 0;

    .footer-content {
        @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
            @include container;
        }

        p {
            padding: 40px 0 20px 0;
        }

        .links {
            div, li:after {
                color: $footer-fg-color;
            }

            padding: 0 0 40px 0;

            ul {
                margin-left: -2px;

                li {
                    padding: 0 2px;
                    margin: 0 -2px;
                    display: inline-block;
                }

                li:after {
                    padding: 0 5px;
                    content: "\00B7";
                }

                li:last-child:after {
                    padding: 0;
                    content: "";
                }
            }
        }

        .copyright {
            padding: 20px 0;
            border-top-width: 1px;
            border-top-style: solid;
            border-color: $footer-border-color;
            color: $footer-fg-color;

            position: relative;

            @media (min-width: 819px) {
                /* http://nadrosia.tumblr.com/post/16402346907/made-in-berlin-badge */
                background: url(/assets/images/made-in-berlin-badge.png) right center no-repeat;
                background-size: 117px 100px;
            }

            p {
                font-size: 13px;
                max-width: 700px;

                padding: 20px 0 20px 55px;

                background: url(/assets/images/logo-footer.png) left center no-repeat;
                background-size: 40px 40px;
            }
        }
    }
}
