@import "colors.scss";

.nws-header {
  border-top: 6px solid $page-top-border-color;

  position: fixed;
  width: 100%;

  z-index: 100;
}

.nws-header__content {
  box-sizing: border-box;

  display: flex;

  padding: 20px 10px;
}

.nws-header__logolink {
  display: block;

  @media (max-width: 919px) {
    order: 3;

    margin: -10px 0 -10px auto;
  }

  flex: 0 0 auto;

  width: 60px;
  height: 40px;

  background: url(/assets/images/logo-small.png) left center no-repeat;
  background-size: 40px 40px;
  background-position: center;

  opacity: 75%;

  margin: -10px 130px;
  padding: 10px 0;
}

.nws-header__logolink:hover {
  background: url(/assets/images/logo-small.png) left center no-repeat;
  background-size: 45px 45px;
  background-position: center;

  opacity: 100%;
}

.nws-header__logotext {
  display: none;
}

.nws-header__title {
  max-width: 640px;

  flex: 1 0 auto;

  box-sizing: border-box;

  @media (min-width: 720px) {
    padding: 0 0 0 20px;
  }

  @media (min-width: 1280px) {
    margin: 0 auto;
  }

  margin-top: 0;
  margin-bottom: 0;
}

.nws-header__search {
  @media (min-width: 920px) {
    order: 3;
  }

  @media (max-width: 919px) {
    flex: 0 0 320px;
    padding: 0;
  }

  @media (max-width: 719px) {
    order: 0;
    display: none;
  }

  padding: 0 20px;

  flex: 0 6 320px;
}

.nws-content {
  box-sizing: border-box;

  position: relative;

  padding: 80px 10px 0 10px;
}

article {
  box-sizing: border-box;

  max-width: 620px;

  @media (min-width: 720px) {
    max-width: 640px;

    margin: 0 0 0 340px;
    padding: 40px 0;
  }

  @media (min-width: 1340px) {
    padding: 40px 0;
    margin: 0 auto;
  }
}

.side {
  @media (min-width: 720px) {
    position: fixed;

    top: 80px;
    bottom: 0;

    overflow-y: auto;

    width: 320px;
  }

  @media (max-width: 719px) {
    margin: 40px 0 0 0;
  }
}
