@import "colors.scss";

:target:before {
  content: "";
  display: block;

  @media (min-width: 720px) {
    height: 116px;
    margin: -116px 0 0;
  }

  @media (max-width: 719px) {
    height: 10px;
    margin: -10px 0 0;
  }
}

.nws-content {
  box-sizing: border-box;

  position: relative;

  @media (min-width: 720px) {
    padding: 0 40px;
    padding-top: 80px;

    max-width: 1020px;
    margin: 0 auto;
  }

  @media (max-width: 719px) {
    padding: 0 10px;
    margin-top: -6px;
  }
}
