@import "susy";
@import "compass/css3/border-radius";
@import "compass/css3/transform";

$total-columns: 12;
$column-width:  60px;
$gutter-width:  20px;
$grid-padding:  0;

@include border-box-sizing;

* {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

// GENERAL STYLING

body {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: 0 2px;
    @include border-radius(3px);
}

dd {
    margin: 0 0 20px 20px;
}

pre, code, kbd, var {
    font-family: Consolas, Inconsolata, Monaco, monospace;
    font-size: 13px;
}

blockquote {
    font-style: italic;
    margin-left: 20px;
}

h2 code {
    font-size: inherit;
}

kbd {
    font-weight: bold;
}

var {
    font-style: italic;
}

pre {
    padding: 10px;
    margin: 0 0 20px 0;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

pre[title]:after {
    content: attr(title);
    display: block;
    margin: 10px -10px -10px -10px;
    padding: 5px 10px;
    font-size: 12px;
    font-style: italic;
    font-family: "Open Sans";
}

// SPECIAL STYLING

table.comparison {
    td {
        padding: 5px 20px 5px 5px;
    }
}

table.dl {
    td {
        vertical-align: top;
    }

    td.name {
        padding-right: 20px;
    }

    td.summary {
        width: 100%;
    }

    td.name {
        white-space: nowrap;
    }
}

.search input {
    font-size: 13px;
    margin: 8px 0;
    padding: 4px 10px;
    border: none;
    @include border-radius(10px);

    :focus {
        outline: none
    }
}

figure {
    img {
        display: block;

        width: 100%;

        border-width: 1px;
        border-style: solid;
    }

    figcaption {
        padding: 5px 10px;
        margin: 0 0 20px 0;

        display: block;

        font-size: 12px;
        font-style: italic;
    }
}

// SPECIFIC STYLING

body header {
    padding: 0 20px;

    .header-content {
        @media (min-width: 720px) {
            @include container;
        }

/*
        .search {
            @media (min-width: 720px) {
                @include span-columns(2 omega, 12);

                text-align: right;
            }
            @media (max-width: 719px) {
                text-align: center;
            }

            padding: 0 10px;

            input {
                width: 100%;
            }
        }
*/
        nav {
            @media (min-width: 720px) {
                @include span-columns(12 omega, 12);
            }

            ol {
                text-align: center;
                list-style-type: none;

                @media (min-width: 720px) {
                    li {
                        float: left;
                        zoom: 1;
                        padding: 10px 0;
                        border-right-width: 1px;
                        border-right-style: solid;

                        a {
                            padding: 10px 18px;
                        }
                    }
                }

                @media (max-width: 719px) {
                    li {
                        padding: 10px 0;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                    }

                    a {
                        padding: 10px 20px;
                    }
                }

                li a {
                    font-size: 15px;
                }

                li.home {
                    span {
                        display: none;
                    }

                    padding: 10px 6px;
                    background: url(/assets/images/logo-nav.png) no-repeat center 4px;
                }

                li.home:hover {
                    background-image: url(/assets/images/logo-nav-hover.png);
                }
            }
        }
    }
}

body.page .intro {
    .intro-content {
        @media (min-width: 720px) {
            @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
                @include container;
            }
        }

        @media (max-width: 719px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        padding-top: 40px;
        padding-bottom: 40px;

        .section {
            font-size: 20px;
        }

        h1 {
            font-size: 36px;
            line-height: 40px;
        }

        p {
            @media (min-width: 720px) {
                @include span-columns(8, 12);
            }

            font-size: 15px;
            padding-top: 40px;
        }
    }
}

body.page .content {
    article {
        @media (min-width: 720px) {
            @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
                @include container;
            }
        }

        @media (max-width: 719px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        padding-top: 0;
        padding-bottom: 40px;

        .article-content {
            padding-top: 40px;

            @media (min-width: 720px) {
                @include span-columns(8, 12);
            }

            background: url(/assets/images/grid-40.png) top left;

            ul, ol, pre, p, h2, h3 {
                margin-bottom: 20px;
            }

            ol ol {
                margin-bottom: 0;
            }

            .section {
                margin-bottom: 40px;
            }

            h2 {
                font-size: 20px;
                font-weight: normal;
            }

            * + h2 {
                margin-top: 40px;
            }

            h3 {
                font-size: 15px;
                font-weight: normal;

                letter-spacing: 1px;
                text-transform: uppercase;

                margin-top: 40px;
            }

            ul, ol {
                margin-left: 20px;
            }

            ol li {
                list-style-type: decimal;
            }

            ul li {
                list-style-type: square;
            }

            .donate {
                text-align: center;
                padding: 20px 0;

                a, a:hover {
                    background: none;
                }
            }


        }

        .side {
            @media (min-width: 720px) {
                @include span-columns(4 omega, 12);

                position: relative;
                top: -60px;

            }

            @media (max-width: 719px) {
                margin: 40px 0;
            }

            .details, .open-source-site {
                padding: 20px;
                margin-bottom: 20px;
            }

            .details {
                h3 {
                    font-size: 20px;
                    padding-bottom: 20px;
                }

                h4 + ul {
                    margin-top: 0;
                }

                h4, dt, ol, ul, p {
                    margin-top: 20px;
                }

                ul {
                    margin-left: 0;
                }

                ul li {
                    list-style-type: none;
                }
            }

            .open-source-site {
                border-width: 6px;
                border-style: solid;

                p {
                    font-size: 12px;
                    padding: 0;
                }
            }
        }
    }
}

body.home .hero {
    .hero-content {
        @include container;
        height: 300px;
        overflow: hidden;

        .slides {
            position: relative;
            top: -10px;

            .slide {
                position: absolute;
                top: 0;
                left: 0;

                a {
                    display: block;
                    background: none;
                }

                img {
                    border: 0;
                    display: block;
                    width: 100%;
                }
            }
        }

        #slide-1 {
        }
    }
}

body.home .explanation {
    .explanation-content {
        @include container;

        p {
            padding: 40px 20px;

            font-size: 32px;
            line-height: 40px;
            text-align: center;
        }
    }
}

body.home .ticker {
    .ticker-content {
        @include container;

        padding: 10px;
        font-size: 13px;
        text-align: center;

        span {
            font-weight: bold;
        }
    }
}

@keyframes shake {
    0%   { left:  0px;  }
    25%  { left: -10px; }
    50%  { left:  10px; }
    75%  { left: -10px; }
    100% { left:  0px;  }
}

@-moz-keyframes shake {
    0%   { left:  0px;  }
    25%  { left: -10px; }
    50%  { left:  10px; }
    75%  { left: -10px; }
    100% { left:  0px;  }
}

@-webkit-keyframes shake {
    0%   { left:  0px;  }
    25%  { left: -10px; }
    50%  { left:  10px; }
    75%  { left: -10px; }
    100% { left:  0px;  }
}

body.home .announcement {
    padding: 40px 0;

    position: relative;

    animation-name: shake;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;

    -moz-animation-name: shake;
    -moz-animation-duration: 0.5s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: 1;

    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;

    font-size: 16px;
    text-align: center;

    span {
        padding: 10px 15px;

        border-radius: 5px;
    }
}

body.home .chooser {
    @include container;

    padding: 40px 20px 40px 20px;

    .chooser-unit {
        h2 {
            a {
                padding: 4px 8px;
            }

            padding: 20px 0;
            font-size: 20px;
            font-style: normal;
        }
    }

    .chooser-unit:before {
        content: "";

        display: block;
        width: 100px;
        height: 100px;

        margin: 0 auto;

        border-width: 12px;
        border-style: double;
        @include border-radius(100px);

        background-position: center center;
        background-repeat: no-repeat;
    }

    @media (min-width: 720px) {
        .chooser-unit {
            @include span-columns(4, 12);
            text-align: center;
        }

        .chooser-unit:last-child {
            @include span-columns(4 omega, 12);
        }

        .chooser-unit:before {
            width: 100px;
            height: 100px;

            margin: 0 auto;
        }
    }

    @media (max-width: 719px) {
        .chooser-unit {
            @include span-columns(12, 12);
            margin: 0 0 20px 0;
        }

        .chooser-unit:last-child {
            @include span-columns(12 omega, 12);
        }

        h2, p {
            margin-left: 110px;
        }

        .chooser-unit:before {
            width:  70px;
            height: 70px;

            clear: left;
            float: left;

            background-size: 40px auto;
        }
    }

    .install-nanoc:before {
        background-image: url(/assets/images/chooser-download.png);
    }

    .take-the-tutorial:before {
        background-image: url(/assets/images/chooser-tour.png);
    }

    .learn-more:before {
        background-image: url(/assets/images/chooser-learn.png);
    }
}

body.home .support {
    @include container;

    border-top-width: 1px;
    border-top-style: solid;
    padding: 40px 20px 40px 20px;

    .support-content {
        @media (min-width: 720px) {
            padding: 0 60px 0 240px;
            position: relative;

            background-position: 100px 15px;
            background-repeat: no-repeat;
            background-image: url(/assets/images/heart.png);
        }

        h3 {
            font-size: 20px;
            line-height: 40px;
        }
    }
}

footer {
    p {
        font-size: 12px;
    }

    a {
        padding: 0 2px;
    }

    padding: 40px 0 80px 0;
    margin: 60px 0 -40px 0;

    background-image: url(/assets/images/shadow-top.png), url(/assets/images/shadow-bottom.png);
    background-position: top left, bottom left;
    background-repeat: repeat-x;

    .footer-content {
        @include with-grid-settings($total-columns, $column-width, $gutter-width, 20px) {
            @include container;
        }

        padding: 0 20px;

        nav {
            @include container;

            font-weight: 400px;
            font-size: 13px;

            @media (min-width: 720px) {
                section {
                    @include span-columns(3, 12);
                }

                section.community {
                    @include span-columns(3 omega, 12);
                }
            }
            @media (max-width: 719px) {
                section {
                    @include span-columns(6, 12);
                }

                section.install, section.community {
                    @include span-columns(6 omega, 12);
                }
            }

            section {
                padding-bottom: 40px;

                h3 {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }

        }

        .copyright {
            margin-top: 20px;
            padding-top: 20px;
            border-top-width: 1px;
            border-top-style: solid;

            p {
                max-width: 640px;
                padding-left: 55px;
                background: url(/assets/images/logo-footer.png) top left no-repeat;
            }
        }
    }
}
