@use "colors";

.nws-nav {
  @include colors.nav-bg-color;
}

.nws-nav-item .active {
  @include colors.nav-item-active-color;
  @include colors.nav-border-color;
}

.nws-nav-link:link,
.nws-nav-link:visited {
  @include colors.nav-link-color;
}

.nws-nav-link:hover {
  @include colors.nav-item-hover-color;
}
