.nws-nav {
  background: $nav-bg-color;

  margin: 0;
  padding: 0;

  @media (min-width: 720px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  z-index: 100;
}

.nws-nav-content {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 719px) {
    padding: 0;
  }

  margin: 0 auto;
  padding: 0 20px;
  max-width: 1020px;
}

.nws-nav-item {
  display: block;
  flex: 0 0 auto;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nws-nav-link,
.nws-nav-item .active {
  display: block;

  margin: 0;
  padding: 10px;

  border-radius: 0;
}

.nws-nav-item .active {
  color: $nav-item-active-color;

  padding-top: 7px;
  border-top: 3px solid $nav-border-color;
}

.nws-nav-link:link,
.nws-nav-link:visited {
  color: $nav-link-color;
}

.nws-nav-link:hover {
  color: $nav-item-hover-color;

  padding-top: 7px;
  border-top: 3px solid $nav-border-hover-color;

  background: transparent;
}

.nws-nav-link:active {
  background: transparent;
}
