@import "colors.scss";

body header {
    background: $nav-sides-bg-color;

    .header-content {
        background: $nav-bg-color;
    }
}

header nav {
    li {
        border-color: $nav-spacing-color;
    }

    a:link, a:visited {
        color: $nav-link-color;
    }

    a:hover {
        color: $nav-link-color-hover;
    }

    li.active > span {
        color: $nav-link-color-active;
    }

    @media (min-width: 720px) {
        li.active > span,
        li.active > a {
            border-top: 3px solid $nav-active-bar-color;
        }
    }

    @media (max-width: 719px) {
        li.active:nth-child(even) {
            border-left: 3px solid $nav-active-bar-color;
        }

        li.active:nth-child(odd) {
            border-right: 3px solid $nav-active-bar-color;
        }
    }

    .for-nanoc-4-beta {
        span {
            color: $nav-nanoc4-fg-color;
            background: $nav-nanoc4-bg-color;
        }
    }

    @media (min-width: 720px) {
        @include span-columns(12 omega, 12);
    }

    ol {
        text-align: center;
        list-style-type: none;

        @media (min-width: 720px) {
            li {
                float: left;
                zoom: 1;
                padding: 10px 0;
                border-right-width: 1px;
                border-right-style: solid;
            }

            li.active > span,
            li.active > a {
                padding-top: 7px;
                border-radius: 0;
            }
        }

        @media (max-width: 719px) {
            li:first-child {
                width: 100%;
            }

            li {
                display: inline-block;
                width: 50%;
                padding: 0;
            }

            li > a,
            li > span {
                display: inline-block;
                padding: 10px 0;
                width: 100%;
            }

            li.active:nth-child(odd):first-child {
                border: none;
            }

            li.active:nth-child(even) {
                padding-right: 3px;
            }

            li.active:nth-child(odd) {
                padding-left: 3px;
            }
        }

        li > a,
        li > span {
            font-size: 15px;
            margin: 0;
            padding: 10px 18px;
        }

        li.home {
            padding: 0;
        }

        li.home.active > span {
            border: 0;
            padding-top: 10px;
        }

        li.home > a,
        li.home > span {
            display: inline-block;
            width: 52px;
            height: 100%;
            padding: 10px 0;
        }

        li.home > a > span,
        li.home > span > span {
            visibility: hidden;
        }

        li.home > a {
            background: url(/assets/images/logo-nav.png) no-repeat center 4px;
            background-size: 32px 32px;
        }

        li.home > a:hover {
            background: url(/assets/images/logo-nav-hover.png) no-repeat center 4px;
            background-size: 32px 32px;
        }

        li.home.active > span {
            background: url(/assets/images/logo-nav-active.png) no-repeat center 4px;
            background-size: 32px 32px;
        }
    }

    @media (max-width: 719px) {
        .for-nanoc-4-beta {
            display: none;
        }
    }

    .for-nanoc-4-beta {
        float: right;
        font-size: 13px;

        span {
            display: inline-block;
            height: 100%;
            padding: 10px 18px 11px 18px;
            border-radius: 0;
            position: relative;
        }

        span:after {
            content: "The content of this web site" "\A" "applies to Nanoc 4 beta.";

            text-align: right;

            white-space: pre;

            position: absolute;
            top: 60px;
            right: 20px;

            display: block;
            opacity: 0;

            padding: 10px 14px;

            color: #fff;

            background: rgba(0, 0, 0, 0.7);
            border-radius: 10px;

            z-index: 99;

            transition: all 0.4s;
            -webkit-transition: all 0.4s;
        }

        span:before {
            border: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent;
            border-width: 0 7px 7px 7px;

            content: "";

            display: block;
            opacity: 0;

            position: absolute;
            width: 0;
            top: 53px;
            right: 40px;

            z-index: 99;

            transition: all 0.4s;
            -webkit-transition: all 0.4s;
        }

        span:hover:before {
            opacity: 1.0;

            transform: translate(0, -8px);
        }

        span:hover:after {
            opacity: 1.0;

            transform: translate(0, -8px);
        }
    }
}
