*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  border: 0;

  font: inherit;
  font-size: 100%;
  font-weight: inherit;

  vertical-align: baseline;
}

html {
  line-height: 1;
}

body {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;

  font-variant-ligatures: common-ligatures;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}
