@use "/assets/style/_colors.scss";

#nanoc {
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-footer-height: 44px;
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-searchbox-height: 56px;
  --docsearch-hit-height: 56px;

  // Colors

  --docsearch-primary-color: #{colors.$color-blue};

  --docsearch-text-color: #{colors.$color-fg};

  --docsearch-muted-color: #{colors.$color-gray-500};

  --docsearch-container-background: rgba(0, 0, 0, 0.5);

  --docsearch-logo-color: #{colors.$color-blue};

  --docsearch-modal-background: #{colors.$color-blue-hint};

  --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5),
    0 5px 12px 0 rgba(0, 0, 0, 0.3);

  --docsearch-searchbox-background: #{colors.$color-bg};

  --docsearch-searchbox-focus-background: #fff;

  --docsearch-hit-color: #{colors.$color-gray-900};

  --docsearch-hit-active-color: #fff;

  --docsearch-hit-background: #fff;

  --docsearch-hit-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

  --docsearch-key-gradient: linear-gradient(
    -225deg,
    #{colors.$color-gray-300},
    #{colors.$color-gray-100}
  );

  --docsearch-key-shadow: inset 0 -2px 0 0 #{colors.$color-gray-300},
    inset 0 0 1px 1px #{colors.$color-gray-100}, 0 1px 2px 1px rgba(0, 0, 0, 0.3);

  --docsearch-footer-background: #{colors.$color-bg};

  --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,
    0 -3px 6px 0 rgba(69, 98, 155, 0.12);

  // Derived

  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-highlight-color: var(--docsearch-primary-color);
}

@media (prefers-color-scheme: dark) {
  #nanoc {
    --docsearch-primary-color: #{colors.$color-darkmode-blue};

    --docsearch-text-color: #{colors.$color-darkmode-fg};

    --docsearch-container-background: rgba(0, 0, 0, 0.6);

    --docsearch-modal-background: #{colors.$color-darkmode-bg};

    --docsearch-modal-shadow: inset 1px 1px 0 0 #{colors.$color-darkmode-gray-100},
      0 5px 12px 0 #000000;

    --docsearch-searchbox-background: #{colors.$color-darkmode-bg};

    --docsearch-searchbox-focus-background: rgba(0, 0, 0, 0.3);

    --docsearch-hit-color: #{colors.$color-darkmode-gray-900};

    --docsearch-hit-shadow: none;

    --docsearch-hit-background: #{colors.$color-darkmode-gray-100};

    --docsearch-key-gradient: linear-gradient(
      -26.5deg,
      #{colors.$color-darkmode-gray-300},
      #{colors.$color-darkmode-gray-100}
    );

    --docsearch-key-shadow: inset 0 -2px 0 0 #{colors.$color-darkmode-gray-100},
      inset 0 0 1px 1px #{colors.$color-darkmode-gray-300},
      0 2px 2px 0 rgba(0, 0, 0, 0.3);

    --docsearch-footer-background: #{colors.$color-darkmode-bg};

    --docsearch-footer-shadow: inset 0 1px 0 0 #{colors.$color-darkmode-bg},
      0 -4px 8px 0 rgba(0, 0, 0, 0.2);

    --docsearch-logo-color: #{colors.$color-darkmode-fg};

    --docsearch-muted-color: #{colors.$color-darkmode-gray-500};
  }
}
