.nws-side__search {
  padding: 15px 0;

  z-index: 100;

  > span {
    width: 100%;
  }

  input {
    width: 100%;
    height: 30px;

    -webkit-appearance: none;

    @include search-bg-color;
    @include search-fg-color;

    font-family: "Source Sans Pro";
    font-size: 16px;

    border: none;
    border-radius: 15px;

    padding: 5px 18px;
    border: 2px solid;
    @include search-placeholder-border-color;
  }

  input:focus {
    outline: none;
    border: 2px solid;
    @include search-border-color;
  }

  input::-webkit-input-placeholder { color: #bbb; }
  input:-moz-placeholder           { color: #bbb; opacity: 1; }
  input::-moz-placeholder          { color: #bbb; opacity: 1; }
  input:-ms-input-placeholder      { color: #bbb; }
}

#search-box {
  a:link, a:visited {
    background: none;
  }

  .algolia-docsearch-suggestion--category-header {
    @include search-results-l0-fg-color;
  }

  .algolia-docsearch-suggestion--title {
    @include search-results-l1-fg-color;
  }

  .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
  .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
    @include search-results-higlight-fg-color;
    @include search-results-higlight-bg-color;
    box-shadow: none;
  }

  .ds-cursor .algolia-docsearch-suggestion--content {
    @include search-results-selection-bg-color;
  }
}
