@import "colors.scss";

.side {
  @media (min-width: 720px) {
    position: fixed;

    top: 40px;
    bottom: 0;

    width: 260px;
  }

  @media (max-width: 719px) {
    margin: 20px 0 0 0;
  }

  margin: 20px 0 20px 0;

  h3 {
    display: none;
  }

  .section-title {
    margin-bottom: 0;
    color: $color-orange;
  }

  .section-title + ul,
  h3 + .section-title,
  h3 + ul,
  h3 + ol {
    margin-top: 0;
  }

  code {
    font-family: inherit;
    font-size: inherit;
  }

  .section-title, dt, ol, ul, p {
    margin-top: 20px;

    @media (max-width: 719px) {
      margin-top: 0;
    }
  }

  @media (max-width: 719px) {
    p + ol.toc,
    .section-title + ol.toc,
    ul + .section-title {
      margin-top: 20px;
    }
  }
}

.nws-side__content {
  background: $sidebar-bg-color;

  width: 100%;

  padding: 20px;

  @media (min-width: 720px) {
    position: absolute;
    top: 90px;
    bottom: 0;

    overflow: auto;
  }
}

.toc {
  margin-left: 0;
}

.toc .toc {
  margin-top: 0;
  margin-left: 20px;
}

.toc li {
  list-style-type: none;
}

.toc .active {
  font-weight: bold;
  color: $text-color-emph;
}
