@import "/assets/style/_colors.scss";

dl.legacy dt:after {
  content: "LEGACY";

  margin-left: 10px;
  padding: 1px 4px;

  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;

  @include tag-legacy-bg-color;
  @include tag-legacy-fg-color;
  border-radius: 4px;
}

pre.errors:before {
  content: "ERRORS";

  @include tag-errors-bg-color;
  @include tag-errors-fg-color;
  border-top-right-radius: 4px;
}

pre.legacy:before {
  content: "NANOC 3.X";

  @include tag-legacy-bg-color;
  @include tag-legacy-fg-color;
  border-top-right-radius: 4px;
}

pre.legacy-intermediate:before {
  content: "INTERMEDIATE STEP";

  @include tag-legacy-bg-color;
  @include tag-legacy-fg-color;
  border-top-right-radius: 4px;
}

pre.legacy-49:before {
  content: "NANOC 4.8";

  @include tag-legacy-bg-color;
  @include tag-legacy-fg-color;
  border-top-right-radius: 4px;
}

pre.new:before {
  content: "NANOC 4.x";

  @include tag-new-bg-color;
  @include tag-new-fg-color;
  border-top-right-radius: 4px;
}

pre.new-49:before {
  content: "NANOC 4.9";

  @include tag-new-bg-color;
  @include tag-new-fg-color;
  border-top-right-radius: 4px;
}

pre.errors:before,
pre.legacy:before,
pre.legacy-intermediate:before,
pre.legacy-49:before,
pre.new:before,
pre.new-49:before {
  position: relative;
  top: -10px;
  right: -10px;

  line-height: 15px;
  vertical-align: middle;
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;

  float: right;

  padding: 5px 8px;
}
