dl.legacy dt:after {
    content: "LEGACY";

    margin-left: 10px;
    padding: 1px 4px;

    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;

    background: #777;
    color: #fff;
    border-radius: 4px;
}

a.wip {
    position: relative;
}

a.wip:after {
    content: "WIP";

    position: absolute;
    left: 100%;
    top: 3px;

    margin-left: 4px;
    padding: 1px 4px;

    line-height: 14px;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;

    background: #777;
    color: #fff;
    border-radius: 4px;
}

pre.legacy:before {
    content: "LEGACY";

    background: #999;
    color: #fff;
}

pre.new:before {
    content: "NEW";

    background: $link-color-a;
    color: #fff;
}

pre.legacy:before,
pre.new:before {
    position: relative;
    top: -10px;
    right: -10px;

    line-height: 15px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;

    float: right;

    padding: 3px 6px 3px 8px;
}
