* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

p, li, blockquote, dd, .admonition, pre, figcaption {
  color: $text-color;
}

li.active, strong, dt {
  color: $text-color-emph;
}

pre, code, kbd, samp, var, .attribute, .command, .output, .filename, .glob, .identifier, .uri {
  -webkit-hyphenate-character: "";
  -moz-hyphenate-character: "";
  -ms-hyphenate-character: "";
  -o-hyphenate-character: "";
  hyphenate-character: "";
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

kbd {
  font-weight: bold;
}

var {
  font-style: italic;
}

.filename, .glob, .identifier, .uri, .productname, .firstterm {
	font-style: italic;
}

h2 code,
h3 code,
h4 code {
  font-size: 0.9em;
}

blockquote {
	font-style: italic;
}

pre, code, kbd, var, samp, .output, .attribute, .command {
  font-family: "Roboto Mono", Consolas, Inconsolata, Monaco, monospace;
}

pre.template var:before {
  content: "<";
}

pre.template var:after {
  content: ">";
}
