* {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

pre, code, kbd, samp, var, .attribute, .command, .output, .filename, .glob, .identifier, .uri {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

kbd {
    font-weight: bold;
}

var {
    font-style: italic;
}

.filename, .glob, .identifier, .uri, .productname, .firstterm {
	font-style: italic;
}

h2 code {
    font-size: inherit;
}

blockquote {
	font-style: italic;
}

pre, code, kbd, var, samp, .output, .attribute, .command {
    font-family: "Roboto Mono", Consolas, Inconsolata, Monaco, monospace;
}

pre.template var:before {
    content: "<";
}

pre.template var:after {
    content: ">";
}
