/* HEADER */

header span {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 900;
}

header li a {
    text-decoration: none;
    text-transform: uppercase;

    font-family: "Open Sans";
    font-weight: bold;
    font-size: 13px;

    letter-spacing: 1px;

    display: inline;
}

/* BODY - NAV */

.body nav li {
    list-style-type: none;

    line-height: 1.2;
}

.body nav li li {
    padding-left: 10px;
    text-indent: -10px;
}

.body nav .top > span {
    text-transform: uppercase;

    font-family: "Open Sans";
    font-size: 13px;
    font-weight: bold;
}

.body nav a {
    font-family: "Open Sans";
    font-size: 13px;

    text-decoration: none;
}

/* BODY - MAIN */

article h1 {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 900;

    margin-bottom: 40px;
    text-transform: uppercase;
}

article h2 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 20px;

    text-transform: uppercase;
}

article p {
    margin: 15px 0;

    font-family: Helvetica;
    font-size: 13px;

    line-height: 1.4;
}

article pre {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

article aside.warning {
    font-family: Helvetica;
    font-size: 14px;

    line-height: 1.4;

    color: #fff;

    margin: 20px 0;
    padding: 15px;
}

article aside.warning strong {
    text-transform: uppercase;
    font-size: 12px;
}

article aside.side {
    font-family: Helvetica;
    font-size: 12px;

    line-height: 1.8;
}

/* FOOTER */

footer {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 1.6;
}

footer li {
    list-style-type: none;
}

footer li.top {
    margin-top: 20px;
}

footer li.top > span {
    font-weight: bold;
}

footer h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 14px;
}
