.article pre

  .log-create
    font-weight: bold
    color: #6f6

  .log-update
    font-weight: bold
    color: #ff6

  .comment, .Comment, .c
    color: #666666

  .TagAttribute, .ke
    color: #ffe834

  .string, .value, .String, .s, .vl
    background: #41380d
    color: #ffe834

  .constant, .Constant, .Integer, .ClassName, .LibraryClassType, .LibraryConstant, .UserDefinedConstant, .Entity, .symbol, .co, .sy
    color: #ffe834

  .function, .FunctionCall, .FunctionName, .fu
    color: #ff971e

  .storage, .Storage
    color: #6dff1b

  .variable, .Variable, .iv
    color: #ffc27f

  .keyword, .ControlKeyword, .Keyword, .r
    color: #ff0000

  .element, .Tag, .ta, .kw
    color: #6dff1b

  .attribute, .TagName, .an
    color: #a65500

  .m
    padding: 0 0.1em
    background: #555
    color: #fff

  .embedded
    background: #4c2200
    color: #ff4300
