---
version:    5
is_hidden:  true
is_dynamic: true
---

@import "fonts.scss";
@import "admonition.scss";
@import "text.scss";

@import "compass/css3/box-sizing";

@page
{
    size: auto;
    margin: 1in;
}

header,
footer,
.side {
    display: none;
}

* {
    @include box-sizing(border-box);
}

/* Page break behavior */

pre, dd {
    page-break-before: avoid;
}

pre, .admonition-wrapper, figure {
    page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6, figcaption {
    page-break-after: avoid;
}

/* Fonts */

body {
    font-family: Georgia, Palatino, serif;
    font-size: 11pt;
    line-height: 14pt;
}

h1, h2, h3, h4, h5, h6, figcaption {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

pre, code, kbd, var, .attribute {
    font-family: "Roboto Mono", Consolas, Inconsolata, Monaco, monospace;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt
}

p {
    widows: 3;
    orphans: 3;
}

/* Typographical styling */

kbd {
    font-weight: bold;
}

.filename, .uri, .command, .productname, .firstterm, var {
    font-style: italic;
}

/* Other */

figure, img {
    width: 100%;
}

figure {
    margin: 0;
}

figure img {
    border: 1pt solid black;
    padding: 12pt;
}

figcaption {
    margin: 0;
}

dt {
    margin-top: 12pt;
}

pre {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* Links */

a {
    color: black;
    text-decoration: none;
}

a:after {
    content: " (" attr(href) ")";
}

/* Admonitions */

div.admonition-wrapper {
    margin: 0 0 20pt 0;

    border: 1px solid black;
}

div.admonition-wrapper:before {
    font-size: 40pt;
    line-height: 20pt;

    width: 20pt;

    padding: 2pt;
}

div.admonition-wrapper .admonition {
    padding: 6pt;
}
