---
is_hidden: true
---

@use "sass:color";


// Core colors

$color-l-orange:                hsl(20, 100%, 46%);
$color-l-bg:                    #fff;
$color-l-fg:                    #000;
$color-l-shadow:                #000;
$color-l-blue:                  hsl(211, 87%, 41%);
$color-l-mark:                  hsl(60, 100%, 90%);

$color-d-orange:       hsl(8, 90%, 60%);
$color-d-bg:           hsl(210, 15%, 18%);
$color-d-fg:           #fff;
$color-d-shadow:       #000;
$color-d-blue:         hsl(211, 87%, 65%);
$color-d-mark:         hsl(0, 0%, 0%);

:root {
    --color-l-orange:                #{$color-l-orange};
    --color-l-bg:                    #{$color-l-bg};
    --color-l-fg:                    #{$color-l-fg};
    --color-l-shadow:                #{$color-l-shadow};
    --color-l-blue:                  #{$color-l-blue};
    --color-l-mark:                  #{$color-l-mark};

    --color-d-orange:       #{$color-d-orange};
    --color-d-bg:           #{$color-d-bg};
    --color-d-fg:           #{$color-d-fg};
    --color-d-shadow:       #{$color-d-shadow};
    --color-d-blue:         #{$color-d-blue};
    --color-d-mark:         #{$color-d-mark};
}

// Derived colors

$color-l-orange-quiet:          color.mix($color-l-orange, $color-l-bg, 10%);
$color-l-nav-shadow:            rgba(0, 0, 0, 0.2);

$color-d-orange-quiet: color.mix($color-d-orange, $color-d-bg, 10%);
$color-d-nav-shadow:   rgba(0, 0, 0, 0.4);

:root {
    --color-l-orange-quiet:           #{$color-l-orange-quiet};
    --color-l-nav-shadow:             #{$color-l-nav-shadow};

    --color-d-orange-quiet:  #{$color-d-orange-quiet};
    --color-d-nav-shadow:    #{$color-d-nav-shadow};
}

// Derived colors -- blues

$color-l-blue-hint:             color.mix($color-l-blue, $color-l-bg, 8%);
$color-l-blue-quiet:            color.adjust(color.mix($color-l-blue, $color-l-bg, 15%), $saturation: -10%);

$color-d-blue-hint:    color.adjust(color.mix($color-d-blue, $color-d-bg, 8%), $saturation: -5%);
$color-d-blue-quiet:   color.adjust(color.mix($color-d-blue, $color-d-bg, 15%), $saturation: -10%);

:root {
    --color-l-blue-hint:            #{$color-l-blue-hint};
    --color-l-blue-quiet:           #{$color-l-blue-quiet};

    --color-d-blue-hint:   #{$color-d-blue-hint};
    --color-d-blue-quiet:  #{$color-d-blue-quiet};
}

// Derived colors -- grays

$color-l-gray-100:                 color.mix($color-l-fg, $color-l-bg, 5%);
$color-l-gray-300:                 color.mix($color-l-fg, $color-l-gray-100, 15%);
$color-l-gray-500:                 color.mix($color-l-fg, $color-l-gray-100, 40%);
$color-l-gray-700:                 color.mix($color-l-fg, $color-l-gray-100, 70%);
$color-l-gray-900:                 color.mix($color-l-fg, $color-l-gray-100, 95%);

$color-d-gray-100:        color.adjust(color.mix($color-d-fg, $color-d-bg, 5%), $saturation: 2%);
$color-d-gray-300:        color.mix($color-d-fg, $color-d-gray-100, 15%);
$color-d-gray-500:        color.mix($color-d-fg, $color-d-gray-100, 40%);
$color-d-gray-700:        color.mix($color-d-fg, $color-d-gray-100, 70%);
$color-d-gray-900:        color.mix($color-d-fg, $color-d-gray-100, 95%);

:root {
    --color-l-gray-100:             #{$color-l-gray-100};
    --color-l-gray-300:             #{$color-l-gray-300};
    --color-l-gray-500:             #{$color-l-gray-500};
    --color-l-gray-700:             #{$color-l-gray-700};
    --color-l-gray-900:             #{$color-l-gray-900};

    --color-d-gray-100:    #{$color-d-gray-100};
    --color-d-gray-300:    #{$color-d-gray-300};
    --color-d-gray-500:    #{$color-d-gray-500};
    --color-d-gray-700:    #{$color-d-gray-700};
    --color-d-gray-900:    #{$color-d-gray-900};
}

// Derived colors -- custom

:root {
    --color-hero-link-bg:           #{color.adjust($color-l-bg, $alpha: -0.6)};
    --color-d-hero-link-bg:  #{color.adjust($color-d-bg, $alpha: -0.6)};

    --color-prompt-fg: color.adjust($color-l-fg, $alpha: -0.5);
    --color-d-prompt-fg: color.adjust($color-d-fg, $alpha: -0.5);

    --color-pre-shadow: #{color.adjust($color-l-shadow, $alpha: -0.7)};
}
