---
is_hidden: true
---

@use "/assets/style/_base.scss";
@use "/assets/style/_text.scss";
@use "/assets/style/_figures.scss";
@use "/assets/style/_explanation.scss";
@use "/assets/style/_side.scss";
@use "/assets/style/_search.scss";
@use "/assets/style/_nav.scss";
