<div id="content">
	<h2><span>Download</span></h2>

	<h3><span>Installing nanoc</span></h3>

	<p>Install nanoc using RubyGems:</p>

	<pre><kbd>sudo gem install nanoc</kbd></pre>

	<h3><span>Plugins</span></h3>

	<p>There is a collection of plug-ins available from the <a href="/trac/">nanoc wiki</a>. These plugins extend nanoc by providing functionality for creating blogs, tagging, syntax coloring, etc.</p>

	<h3><span>Release Notes</span></h3>

	<h4><span>Latest Release: <%= latest_release_version %></span></h4>

	<%= latest_release_notes %>

	<h4><span>Older Release Notes</span></h4>

	<p>For older release notes, check out the <a href="release-notes/">older release notes</a> page.</p>
</div>
