#!/usr/bin/env ruby

require 'compass'
require 'susy'

Compass.add_project_configuration 'compass_config.rb'

preprocess do
  config[:nanoc_version_info] = `nanoc --version`.strip
  config[:gem_version_info]   = `gem --version`.strip

  # TODO stylesheets -> is_hidden and is_partial
end

layout '/*', :erb

# Passthrough

compile '/favicon.*' do
  write item.identifier
end

compile '/docs/api/**/*' do
  write item.identifier
end

compile '/wiki-old/**/*' do
  write item.identifier
end

# Style

compile '/assets/style/_*' do
end

compile '/assets/style/*' do
  filter :sass, Compass.sass_engine_options
  filter :relativize_paths, :type => :css
  filter :rainpress
  write '/assets/style' + '-v' + rep.item[:version].to_s + '.css'
end

# Special pages

compile '/sitemap.*' do
  filter :erb
  write '/sitemap.xml'
end

compile '/robots.*' do
  filter :erb
  write '/robots.txt'
end

compile '/index.*' do
  filter :erb
  layout '/default.*'
  filter :relativize_paths, :type => :html
  write '/index.html'
end

# Fallback

compile '/**/*' do
  if item[:is_partial]
    next
  end

  if item.binary?
    write item.identifier
    next
  end

  filter :erb if item[:is_dynamic]
  if 'md' == item.identifier.extension
    filter :kramdown, :auto_ids => false
  end
  filter :remove_spacing_around_pre
  filter :add_ids_to_headers
  if item.identifier.match?('/release-notes.*')
    filter :link_github_issues
  end

  snapshot :before_layout
  layout '/default.*'

  filter :add_toc
  filter :colorize_syntax, :is_fullpage => true
  filter :relativize_paths, :type => :html
  filter :fixup_whitespace

  write item[:path] || item.identifier.in_dir.with_ext('html')
end
