#!/usr/bin/env ruby

require 'compass'
require 'susy'

Compass.add_project_configuration 'compass_config.rb'

preprocess do
  config[:nanoc_version_info] = Nanoc.version_information
  config[:gem_version_info]   = Gem::VERSION
  config[:ruby_version_info]  = `ruby --version`.strip

  # TODO stylesheets -> is_hidden and is_partial
end

layout '/**/*', :erb

# favicon

passthrough '/favicon.ico'

# static

compile '/static/**/*' do
end

route '/static/**/*' do
  # /static/foo.html → /foo.html
  item.identifier.to_s.sub(/\A\/static/, '')
end

# stylesheets - partials

ignore '/assets/style/_*'

# stylesheets

compile '/assets/style/*' do
  filter :sass, Compass.sass_engine_options
  filter :relativize_paths, :type => :css
  filter :rainpress
end

route '/assets/style/*' do
  item.identifier.without_ext + '-v' + rep.item[:version].to_s + '.css'
end

# other

compile '/sitemap.*' do
  filter :erb
end

compile '/robots.*' do
  filter :erb
end

# index

compile '/index.*' do
  filter :erb
  layout '/default.*'
  filter :relativize_paths, :type => :html
  # filter :html5small
end

route '/index.*' do
  '/index.html'
end

# fallback

compile '/**/*' do
  if item[:is_partial]
    next
  end

  filter :erb if item[:is_dynamic]
  if 'md' == item[:extension]
    filter :kramdown, :auto_ids => false
  end
  filter :admonition
  filter :remove_spacing_around_pre
  filter :add_ids_to_headers
  if item.identifier.to_s == '/release-notes'
    filter :link_github_issues
  end

  layout '/default.*'

  filter :add_toc
  filter :colorize_syntax, :is_fullpage => true
  filter :relativize_paths, :type => :html
  filter :remove_smartness_from_kbd
  filter :fixup_whitespace
  filter :typohero
  # filter :html5small
end

route '/**/*' do
  if item.binary?
    item.identifier.to_s
  elsif item[:is_partial]
    nil
  elsif item[:path]
    item[:path]
  else
    item.identifier.without_ext + '/index.html'
  end
end
