html {
  height: 100%;
}

body {
  font-family: "Source Sans 3";
  font-weight: normal;
  font-size: 15px;

  line-height: 22px;

  min-height: 100%;
}

abbr {
  font-weight: bold;
}

pre,
code,
kbd,
var,
samp,
.attribute,
.command,
.output {
  font-size: 13px;
}

blockquote {
  font-style: italic;
  margin-left: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

pre {
  border-radius: 4px;

  padding: 10px;
  margin: 0 0 20px 0;

  white-space: pre-wrap;
  word-wrap: break-word;
}

:target {
  scroll-margin-top: 80px;
}

:target:before {
  content: "";
  display: block;

  @media (min-width: 720px) {
    height: 70px;
    margin: -70px 0 0;
  }

  @media (max-width: 719px) {
    height: 10px;
    margin: -10px 0 0;
  }
}
