/** general */

* {
	margin: 0;
	padding: 0;

	font-size: 1em;

	line-height: 1em;
}

body {
	background: #333;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

html>body {
	font-size: 10px;
}

/** header */

#header {
	background: #000;
	
	padding: 3.6em 0 0 0;
}

#header-inside {
	margin: 0 auto;

	width: 72em;
}

#header h1 {
	padding: 7.2em 0 3.6em 0;

	color: #fff;
}

#header h1 span {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 3.6em;
}

/** navigation */

#header #nav ul {
	padding-top: 8.7em;

	float: right;
}

#header #nav li {
	margin-left: 0.45em;

	display: inline;
}

#header #nav a,
#header #nav .active {
	text-decoration: none;

	padding: 8.5em 0 0.4em 0;

	font-family: Helvetica, Arial, "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

#header #nav a span,
#header #nav .active span {
	padding: 8.5em 0.45em 0.45em 2.7em;

	background: url(/assets/images/triangle-left.gif) bottom left no-repeat;
}

#header #nav a:link,
#header #nav a:visited {
	color: #fff;

	background: url(/assets/images/gradient-nav-grey.png) bottom repeat-x;
}

#header #nav a:hover {
	color: #000;

	background: url(/assets/images/gradient-nav-white.png) bottom repeat-x;
}

#header #nav .active {
	color: #fff;

	background: url(/assets/images/gradient-nav-red.png) bottom repeat-x;
}

/** main */

#main {
	padding: 0;

	border-top: 1.8em solid #666;
	border-bottom: 1.8em solid #999;

	width: 100%;

	float: left;

	background: #fff;
/*	background: #fff url(/assets/images/grid.png) top center;*/
}

#main #main-inside {
	margin: 0 auto;
	padding: 3.6em 0;

	width: 72em;
}

#main a {
	padding: 0.2em 0;

	text-decoration: none;
}

#main a:link,
#main a:visited {
	color: #c40023;

	background: url(/assets/images/underline-red.png) bottom left repeat-x;
}

#main a:hover {
	color: #000;

	background: url(/assets/images/underline-black.png) bottom left repeat-x;
}

/** banner */

#banner {
	padding: 3.6em 0 0 0;
	margin: 0 auto;

	width: 72em;

	background: url(/assets/images/border.png) top right repeat-x;
}

#banner p {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 3.6em;

	line-height: 1em;

	padding: 0 0 1em 0;

	text-align: center;

	color: #c40023;

	background: url(/assets/images/border.png) bottom right repeat-x;
}

/** intro */

#intro {
	margin: 3.6em auto;

	width: 72em;
}

#intro p {
	font-size: 1.2em;

	line-height: 1.5em;
}

/** features */

#features h2 {
	display: none;
}

#features .feature {
	width: 21.6em;

	float: left;

	margin-right: 3.6em;
}

#features .feature-last {
	margin-right: 0;
}

#features h3 {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 1.8em;

	margin: 0 0 1em 0;

	color: #c40023;
}

#features p {
	font-size: 1.2em;

	line-height: 1.5em;
}

/** content */

#content h2 {
	padding: 3.6em 0 0 0;
	margin: 0 0 1.8em 0;

	background: url(/assets/images/border.png) top right repeat-x;

	color: #c40023;
}

#content h2 span {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 3.6em;
}

#content h3 {
	margin: 3.4em 0 1.8em 0;

	color: #c40023;
}

#content h3 span {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 2.0em;
}

#content h4 {
	margin: 3.9em 0 1.8em 7.2em;

	color: #c40023;
}

#content h4 span {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

#content p {
	font-size: 1.2em;

	line-height: 1.5em;

	margin: 1.5em 0 0 0;
	padding: 0 6.0em;
}

#content dl {
	margin: 1.8em 0 0 0;
	padding: 0 7.2em;
}

#content dt,
#content dd {
	font-size: 1.2em;

	line-height: 1.5em;
}

#content dd {
	margin: 0 0 1.5em 3em;
}

#content ul,
#content ol {
	margin: 1.8em 0 0 0;
	padding: 0 7.2em;
}

#content ul ul {
	margin: 0 0 1.8em 0;
	padding: 0;
}

#content li {
	font-size: 1.2em;

	line-height: 1.5em;

	list-style-position: inside;
	list-style-type: square;
}

#content li li {
	font-size: 1em;

	line-height: 1.5em;
}

#content ul.nested li {
	font-weight: bold;
	
	list-style-type: none;
}

#content ul.nested li li {
	font-weight: normal;

	list-style-type: square;
}

#content q {
	font-style: italic;
}

#content .path {
	font-style: italic;
}

#content strong {
	font-weight: normal;

	background: #fdd;

	margin: 0 -0.2em;
	padding: 0.2em;
}

/** content - toc */

#content ol#toc {
	font-size: 1em;

	line-height: 1em;

	margin: 0 7.2em;
	padding: 0;
}

#content ol#toc ol {
	font-size: 1em;

	line-height: 1em;

	margin: 0 2.7em;
	padding: 0;
}

#content ol#toc li {
	margin: 1.5em 0 0 0;

	font-size: 1.2em;
	font-weight: bold;

	line-height: 1.5em;

	list-style-type: upper-roman;
	list-style-position: outside;
}

#content ol#toc li li {
	margin: 0;

	font-size: 1.0em;
	font-weight: normal;

	list-style-type: decimal;
}

#content ol#toc li li li {
	list-style-type: lower-alpha;
}

/** content - code etc */

#content code,
#content kbd,
#content samp,
#content var {
	font-family: "Panic Sans", "Bitstream Vera Sans Mono", Consolas, monospace;
	font-style: normal;
}

#content pre {
	margin: 1.8em 7.2em;
	padding: 0.9em 1.8em;

	background: #222 url(/assets/images/triangle-right-white.gif) bottom right no-repeat;
}

#content pre code,
#content pre kbd,
#content pre samp,
#content pre var {
	color: #fff;

	background: transparent;

	padding: 0;

	font-size: 1.2em;

	line-height: 1.5em;
}

#content pre .log-create {
	font-weight: bold;

	color: #6f6;
}

#content pre .log-update {
	font-weight: bold;

	color: #ff6;
}

#content pre .comment {
	color: #4d4d4d;
}

#content pre .value,
#content pre .string {
	background: #41380d;

	color: #ffe834;
}

#content pre .constant,
#content pre .symbol {
	color: #ffe834;
}

#content pre .function {
	color: #ff971e;
}

#content pre .storage {
	color: #6dff1b;
}

#content pre .variable {
	color: #ffc27f;
}

#content pre .keyword {
	color: #ff0000;
}

#content pre .element {
	color: #6dff1b;
}

#content pre .attribute {
	color: #a65500;
}

#content pre .m {
	padding: 0 0.1em;

	background: #555;

	color: #fff;
}

#content pre .embedded {
	background: #4c2200;

	color: #ff4300;
}

/** footer */

#footer {
	clear: both;

	padding: 3.6em 0;
}

#footer #footer-inside {
	margin: 0 auto;

	width: 72em;
}

#footer p {
	font-size: 1.2em;

	line-height: 1.5em;

	color: #888;
}

#footer a {
	font-weight: bold;

	text-decoration: none;
}

#footer a:link,
#footer a:visited {
	color: #bbb;
}

#footer a:hover {
	color: #fff;
}
