<h2><span>Blog</span></h2>

<p>Find out older articles on the <a href="/blog/archive/">blog archive</a>. Subscribe to the <a href="http://feeds.feedburner.com/nanoc">nanoc news feed</a> and don't miss a thing.</p>

<% sorted_articles.first(1).each do |article| %>
<div class="section" id="blog-<%= article.created_at.localtime.format_as_date_id %>">
<% if article.title? %>
	<h3><span><%=h article.title %></span></h3>
<% else %>
	<h3><span><%= article.created_at.localtime.format_as_date %></span></h3>
<% end %>
	<p class="meta"><span>Written <%= article.created_at.localtime.format_as_date %>. [<%= link_to 'permalink', article %>]</span></p>

	<%= article.content %>
</div>
<% end %>
