---
title:      "Documentation"
toc:
  - title: 'Getting started'
    children:
      - '/doc/about.*'
      - '/doc/tutorial.*'
  - title: 'Using Nanoc'
    children:
      - '/doc/sites.*'
      - '/doc/items-and-layouts.*'
      - '/doc/cli.*'
      - '/doc/identifiers-and-patterns.*'
      - '/doc/rules.*'
      - '/doc/filters.*'
      - '/doc/helpers.*'
      - '/doc/deploying.*'
      - '/doc/testing.*'
      - '/doc/data-sources.*'
  - title: 'Tips and tricks'
    children:
      - '/doc/guides/using-binary-items-effectively.*'
      - '/doc/guides/creating-multilingual-sites.*'
      - '/doc/guides/using-external-sources.*'
  - title: 'References'
    compact: true
    children:
      - '/doc/reference/filters.*'
      - '/doc/reference/helpers.*'
      - '/doc/reference/commands.*'
      - '/doc/reference/config.*'
      - '/doc/reference/variables.*'
  - title: 'Appendices'
    children:
      - '/doc/installation.*'
      - '/doc/troubleshooting.*'
      - '/doc/nanoc-4-upgrade-guide.*'
      - '/doc/glossary.*'
---

<% item[:toc].each do |section| %>
  <h2><%= section[:title] %></h2>
  <ol class="toc<%= section[:compact] ? '' : ' big' %>">
    <% section[:children].each do |child_glob| %>
      <%= detailed_toc_for(child_glob, limit: (section[:compact] ? 0 : 5)) %>
    <% end %>
  </ol>
<% end %>
