<div id="banner">
	<p><strong>nanoc</strong> is a Ruby web publishing system for building small to medium-sized websites.</p>
</div>

<div id="intro">
	<p>nanoc is a tool that runs on your local computer and "compiles" documents written in HTML, Markdown, Textile, Haml, etc. into a static web site, ready for uploading to any web server. To get started, <kbd>gem install nanoc3</kbd> and <a href="/docs/2-installation/">take the tutorial &raquo;</a>.</p>

	<p>Latest release: <%= latest_release_info[:version] %>, released on <%= latest_release_info[:date].format_as_date %> (<a href="/release-notes/">release notes</a>)</p>
</div>

<div id="donate-button">
	<a href='http://www.pledgie.com/campaigns/6847'>
		<img alt="Click here to lend your support to: nanoc and make a donation at pledgie.com!" src="http://www.pledgie.com/campaigns/6847.png?skin_name=chrome">
	</a>
</div>

<div id="features">
	<h2>Features</h2>

	<div class="feature odd">
		<h3>Secure</h3>
		<img src="/assets/images/features/secure.png">
		<p>A nanoc site does not contain any executable code—just static HTML pages. nanoc does not run on the server; exploiting nanoc in order to wreak havoc is therefore impossible.</p>
	</div>

	<div class="feature even">
		<h3>Extensible</h3>
		<img src="/assets/images/features/extensible.png">
		<p>nanoc is not a monolithic framework, but rather a small application that is easily built upon with new plugins such as filters and helpers. Writing new plugins is a trivial task.</p>
	</div>

	<div class="feature odd">
		<h3>Previewable</h3>
		<img src="/assets/images/features/previewable.png">
		<p>You can preview every change you make to your site before uploading it. Compile your site, make sure everything is just like you want it, and upload the site when you’re satisfied.</p>
	</div>

	<div class="feature even">
		<h3>Fast</h3>
		<img src="/assets/images/features/fast.png">
		<p>Serving static files straight off the hard disk of a web server is much faster than dynamically generating the content. nanoc sites don’t crumble—even under high loads.</p>
	</div>

	<div class="feature odd last">
		<h3>Flexible</h3>
		<img src="/assets/images/features/flexible.png">
		<p>All pages and assets in nanoc can have structured arbitrary metadata associated with it. You’re not limited to pages with nothing but a title and a list of tags anymore.</p>
	</div>
</div>
