---
has_basic_layout: true
full_title:       "Nanoc: a static-site generator written in Ruby &raquo; home"
short_title:      "Home"
raw_layout:       true
---

<article>
    <div class="explanation">
        <div class="explanation-content">
            <p>Nanoc is a <em>static-site generator</em>, fit for building anything from a small personal blog to a large corporate web site.</p>
        </div>
    </div>
    <div class="hero">
        <div class="hero-content">
            <div class="slides">
                <div class="slide">
                    <a href="http://developer.github.com/">
                        <img src="/assets/images/hero/github-api.png" alt="GitHub developer site screenshot">
                    </a>
                </div>
                <div class="slide" style="display: none">
                    <a href="http://www.rubyworld-conf.org/">
                        <img src="/assets/images/hero/rubyworld-conference.png" alt="RubyWorld web site screenshot">
                    </a>
                </div>
                <div class="slide" style="display: none">
                    <a href="http://mystonline.com/">
                        <img src="/assets/images/hero/myst-online.png" alt="Myst Online web site screenshot">
                    </a>
                </div>
                <div class="slide" style="display: none">
                    <a href="http://www.dadt.com/uglybetty/">
                        <img src="/assets/images/hero/ugly-betty.png" alt="Ugly Betty web site screenshot">
                    </a>
                </div>
                <div class="slide" style="display: none">
                    <a href="http://api.spreecommerce.com/">
                        <img src="/assets/images/hero/spree-api.png" alt="Spree Commerce API site screenshot">
                    </a>
                </div>
                <div class="slide" style="display: none">
                    <a href="http://fosdem.org/">
                        <img src="/assets/images/hero/fosdem.png" alt="FOSDEM web site screenshot">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="chooser">
        <div class="chooser-unit install-nanoc">
            <h2><a href="/doc/installation/">Install Nanoc</a></h2>
            <p>A simple <kbd>gem install nanoc</kbd> will get you going, but we’ve provided detailed instructions for those who are unfamiliar with Ruby.</p>
        </div>
        <div class="chooser-unit take-the-tutorial">
            <h2><a href="/doc/tutorial/">Take the tutorial</a></h2>
            <p>This short tutorial will show you how Nanoc works, and teach you the basics &mdash; enough to get a small web site up and running.</p>
        </div>
        <div class="chooser-unit learn-more">
            <h2><a href="/doc/">Learn more</a></h2>
            <p>Nanoc comes with vast amounts of documentation, covering everything from basic usage to extending Nanoc with custom filters, data sources and more.</p>
        </div>
    </div>
</article>
