@font-face {
  font-family: "Roboto Mono";
  src:
    url("RobotoMono[wght].woff2") format("woff2 supports variations"),
    url("RobotoMono[wght].woff2") format("woff2-variations");
  font-weight: 100 1000;
}
