h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header-fg);

  margin-top: 2.5em;
  margin-bottom: 1rem;

  font-weight: normal;

  line-height: 1;
}

h1 {
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
