ul > li {
  list-style-type: square;
}

ol > li {
  list-style-type: decimal;
}

ul,
ol {
  margin-left: var(--size-3);
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 var(--size-3) var(--size-3);
}

dl.compact dd {
  margin-bottom: 0;
}
