ul > li {
  list-style-type: square;
}

ol > li {
  list-style-type: decimal;
}

ul,
ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ol > li > ol,
ol > li > ul,
ul > li > ol,
ul > li > ul {
  margin-bottom: 0;
}

ul.spacious li,
ol.spacious li {
  margin-bottom: 20px;
}

ul.spacious li pre,
ol.spacious li pre {
  margin-top: 20px;
}

dl {
  margin-bottom: 20px;
}

dl.compact dt,
dl.compact dd {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px 20px;
}
