<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>nanoc: a static site generator in Ruby</title>
        <link href="<%= item_named('/assets/style/screen/').path %>" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,800' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="header-contents">
                <span class="title">nanoc</span>
                <nav>
                    <ol>
                        <li><a href="#">Showcase</a></li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Community</a></li>
                    </ol>
                </nav>
                <div class="search">
                    <input type="search" value="Search...">
                </div>
            </div>
        </header>
        <div class="body">
            <div class="body-contents">
                <div class="sidebar">
<% if item.identifier.start_with?('/docs/') %>
                    <section>
                        <h3>Book</h3>
                        <div class="section-contents">
                            <ol>
                                <li><a href="#">Preface</a></li>
                                <li><a href="#">Getting Started</a></li>
                                <li><a href="#">Using nanoc</a></li>
                                <li><a href="#">Extending nanoc</a></li>
                                <li><a href="#">Guides</a></li>
                            </ol>
                        </div>
                    </section>
                    <section>
                        <h3>Reference</h3>
                        <div class="section-contents">
                            <ol>
                                <li><a href="#">Helpers</a></li>
                                <li><a href="#">Filters</a></li>
                                <li><a href="#">API</a></li>
                            </ol>
                        </div>
                    </section>
<% else %>
                    <section>
                        <h3>Help!</h3>
                        <div class="section-contents">
                            <p>Need assistance? There’s a <a href="http://groups.google.com/group/nanoc/">discussion group</a> and a <a href="irc://chat.freenode.net/#nanoc">#nanoc IRC channel</a> on freenode.</p>
                        </div>
                    </section>
                    <section>
                        <h3>Donate</h3>
                        <div class="section-contents">
                            <p>If you like nanoc and can spare a few dollars, please consider showing your support by making a donation.<br><a href="http://www.pledgie.com/campaigns/9282"><img alt="Click here to lend your support to: nanoc and make a donation at pledgie.com!" src="http://pledgie.com/campaigns/9282.png?skin_name=chrome"></a></p>
                        </div>
                    </section>
<% end %>
                </div>
                <article>
                    <h1><%= @item[:short_title] || @item[:title] %></h1>
                    <%= yield %>
                </article>
            </div>
        </div>
        <footer>
            <div class="footer-contents">
                <div class="footer-contents2">
                    <section>
                        <h3>Current release</h3>
                        <% if item.identifier != '/release-notes/' %>
                        <p><%= 'The current version of nanoc is ' + latest_release_info[:version] + ', released on ' + latest_release_info[:date].format_as_date + '. See the <a href="/release-notes/">release notes</a> for details.' %></p>
                        <% else %>
                        <p>The current version of nanoc is&hellip; hm, you're already on the release notes page. Why do you ask? :)</p>
                        <% end %>
                    </section>
                    <section>
                        <h3>Site map</h3>
                        <ol>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Showcase</a></li>
                            <li><a href="#">Download</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Supporting us</a></li>
                        </ol>
                    </section>
                    <section>
                        <h3>Documentation</h3>
                        <ol>
                            <li class="top"><span>Book</span>
                                <ol>
                                    <li><a href="#">Preface</a></li>
                                    <li><a href="#">Getting Started</a></li>
                                    <li><a href="#">Using nanoc</a></li>
                                    <li><a href="#">Extending nanoc</a></li>
                                    <li><a href="#">Guides</a></li>
                                </ol>
                            </li>
                            <li class="top"><span>Reference</span>
                                <ol>
                                    <li><a href="#">Helpers</a></li>
                                    <li><a href="#">Filters</a></li>
                                    <li><a href="#">API</a></li>
                                </ol>
                            </li>
                        </ol>
                    </section>
                </div>
            </div>
        </footer>
    </body>
</html>

