.DocSearch-Button {
  margin: 0;
}

.nws-side__search {
  padding: 15px 0;
}

:root {
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-footer-height: 44px;
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-searchbox-height: 56px;
  --docsearch-hit-height: 56px;

  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-highlight-color: var(--docsearch-primary-color);

  --docsearch-key-shadow:
    inset 0 -2px 0 0 var(--search-key-shadow-1),
    inset 0 0 1px 1px var(--search-key-shadow-2),
    0 1px 2px 1px var(--search-key-shadow-3);
}

:root {
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    var(--search-key-gradient-from),
    var(--search-key-gradient-to)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --docsearch-key-gradient: linear-gradient(
      -26.5deg,
      var(--search-key-gradient-from),
      var(--search-key-gradient-to)
    );
  }
}
