:target {
  scroll-margin-top: 80px;
}

:target:before {
  content: "";
  display: block;

  @media (min-width: 720px) {
    height: 70px;
    margin: -70px 0 0;
  }

  @media (max-width: 719px) {
    height: 10px;
    margin: -10px 0 0;
  }
}
