---
include:
  - layer: "reset"
    include:
      - "/assets/style2/_reset.*"

  - layer: "framework"
    include:
      - "/assets/style2/_framework.*"

  # The “old” layer is where the old stylesheets will be injected into. The
  # medium-term goal is to remove these entirely.
  - layer: "old"
    include:
      - "/assets/style2/_old.*"

  - layer: "base"
    include:
      - "/assets/style2/base/_colors.*"
      - "/assets/style2/base/_headers.*"
      - "/assets/style2/base/_mark.*"
      - "/assets/style2/base/_misc.*"
      - "/assets/style2/base/_links.*"
      - "/assets/style2/base/_lists.*"
      - "/assets/style2/base/_print.*"
      - "/assets/style2/base/_text.*"

  - layer: "layout"
    include:
      - "/assets/style2/layout/_content.*"

  - layer: "components"
    include:
      - "/assets/style2/components/_admonition.*"
      - "/assets/style2/components/_article.*"
      - "/assets/style2/components/_code.*"
      - "/assets/style2/components/_cta.*"
      - "/assets/style2/components/_explanation.*"
      - "/assets/style2/components/_figure.*"
      - "/assets/style2/components/_footer.*"
      - "/assets/style2/components/_hero.*"
      - "/assets/style2/components/_nav.*"
      - "/assets/style2/components/_search.*"
      - "/assets/style2/components/_side.*"
      - "/assets/style2/components/_tags.*"
      - "/assets/style2/components/_toc.*"
      - "/assets/style2/components/_swatches.*"
---
