---
include:
  - layer: "reset"
    include:
      - "/assets/style2/_reset.*"

  # The “old” layer is where the old stylesheets will be injected into. The
  # medium-term goal is to remove these entirely.
  - layer: "old"
    include:
      - "/assets/style2/_old.*"

  - layer: "components"
    include:
      - "/assets/style2/components/_cta.*"
      - "/assets/style2/components/_hero.*"
      - "/assets/style2/components/_swatches.*"
---
