figure {
  background: var(--color-figure-bg);
  border: 1px solid var(--color-figure-border);

  margin: 0 0 20px 0;
}

figure img {
  display: block;

  width: 100%;
}

figure figcaption {
  padding: 5px 10px;

  background: var(--color-figure-caption-bg);

  display: block;

  font-size: 13px;
  font-style: italic;
}

figure.compact img {
  padding: 10px 0;
  margin: 0 auto;

  width: auto;
  height: 180px;
}
