.hero {
  background-color: var(--color-hero-bg);

  margin-bottom: -60px;
}

.hero {
  background-image: url(/assets/images/symphony.png);
}

@media (prefers-color-scheme: dark) {
  .hero {
    background-image: url(/assets/images/symphony-dark.png);
  }
}

.hero__links {
  text-align: center;

  padding: 20px 0 5px 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

@media (max-width: 719px) {
  .hero__links {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.hero__link {
  margin: 0 20px;
}

@media (max-width: 719px) {
  .hero__link {
    margin: 5px auto;
  }
}

.hero__link {
  padding: 12px 20px;
  font-size: 24px;
  font-style: normal;
}

.hero__link:link,
.hero__link:visited {
  background: var(--color-hero-link-bg);
}

.hero__link:hover {
  color: var(--color-hero-link-hover-fg);
  background: var(--color-hero-link-hover-bg);
}

.hero__slides {
  position: relative;

  height: 480px;

  top: -10px;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 819px) {
  .hero__slides {
    padding-top: 10px;
    height: 430px;
  }
}

@media (max-width: 719px) {
  .hero__slides {
    padding-top: 10px;
    height: 380px;
  }
}

@media (max-width: 619px) {
  .hero__slides {
    height: 330px;
  }

  .hero__slides img {
    margin-top: -20px;
  }
}

@media (max-width: 519px) {
  .hero__slides {
    height: 280px;
  }
}

@media (max-width: 419px) {
  .hero__slides {
    height: 230px;
  }
}

.hero__slide {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0 30px;

  transition: opacity 1200ms ease-in-out;

  a {
    display: block;
  }

  a:link,
  a:visited,
  a:hover {
    background: none;
  }

  img {
    border: 0;
    display: block;
    width: 100%;
  }
}
