.side h3 {
  display: none;
}

.side .section-title {
  margin-bottom: 0;
  color: var(--color-sidebar-section-title);
}

.side .section-title + ul,
.side h3 + .section-title,
.side h3 + ul,
.side h3 + ol {
  margin-top: 0;
}

.side code {
  font-family: inherit;
  font-size: inherit;
}

.side .section-title,
.side dt,
.side ol,
.side ul,
.side p {
  margin-top: 20px;
}

@media (max-width: 719px) {
  side .section-title,
  .side dt,
  .side ol,
  .side ul,
  .side p {
    margin-top: 0;
  }
}

@media (max-width: 719px) {
  .side p + ol.toc,
  .side .section-title + ol.toc,
  .side ul + .section-title {
    margin-top: 20px;
  }
}
