.swatch {
  gap: var(--size-3);

  display: grid;

  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas: "light dark";
}

.swatch-part-wrapper {
  background: repeating-conic-gradient(#999 0% 25%, #eee 0% 50%) 50% / 25px 25px;
}

.swatch-part {
  padding: var(--size-3);
}

.swatch-label {
  padding: 2px 5px;

  color: black;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
