dl.legacy dt:after {
  content: "LEGACY";

  margin-left: 10px;
  padding: 1px 4px;

  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;

  background: var(--color-tag-legacy-bg);
  color: var(--color-tag-legacy-fg);

  border-radius: 4px;
}

pre.errors:before {
  content: "ERRORS";

  background: var(--color-tag-errors-bg);
  color: var(--color-tag-errors-fg);

  border-top-right-radius: 4px;
}

pre.legacy:before {
  content: "NANOC 3.X";

  background: var(--color-tag-legacy-bg);
  color: var(--color-tag-legacy-fg);

  border-top-right-radius: 4px;
}

pre.legacy-intermediate:before {
  content: "INTERMEDIATE STEP";

  background: var(--color-tag-legacy-bg);
  color: var(--color-tag-legacy-fg);

  border-top-right-radius: 4px;
}

pre.legacy-49:before {
  content: "NANOC 4.8";

  background: var(--color-tag-legacy-bg);
  color: var(--color-tag-legacy-fg);

  border-top-right-radius: 4px;
}

pre.new:before {
  content: "NANOC 4.x";

  background: var(--color-tag-new-bg);
  color: var(--color-tag-new-fg);

  border-top-right-radius: 4px;
}

pre.new-49:before {
  content: "NANOC 4.9";

  background: var(--color-tag-new-bg);
  color: var(--color-tag-new-fg);

  border-top-right-radius: 4px;
}

pre.errors:before,
pre.legacy:before,
pre.legacy-intermediate:before,
pre.legacy-49:before,
pre.new:before,
pre.new-49:before {
  position: relative;
  top: -10px;
  right: -10px;

  line-height: 15px;
  vertical-align: middle;
  font-family: "Source Sans 3";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;

  float: right;

  padding: 5px 8px;
}
